[2021-11-25 14:09] IronCore864 opened #6 "Add documentation for the current three plugins"
## Scope

At the moment, we have three plugins:

- argocd
- argocdapp
- githubactions

We need one document for each plugin.

## Describe the Change

Maybe creating a subfolder named `plugins` under `docs`, then one document for each plugin?

Each doc should contain a sample config, what parameters are mandatory, sample values, etc.

[2021-11-25 14:14] IronCore864 opened #7 "Implement uninstall/reinstall interface for githubactions plugin"
## Description

At the moment, the [`Reinstall`](https://github.com/merico-dev/stream/blob/main/cmd/githubactions/main.go#L23) and [`Uninstall`](https://github.com/merico-dev/stream/blob/main/cmd/githubactions/main.go#L28) are mocks.

We want to implement them.

## Describe the Proposal

Reinstall: no matter if the workflows are created or not, overwrite it.

Uninstall: delete the pipelines (if al

[2021-11-25 14:16] IronCore864 opened #8 "Implement uninstall/reinstall interface for argocd plugin"
## Description

At the moment, the `Reinstall` and `Uninstall` are mocks.

We want to implement them.

## Describe the Proposal

Reinstall: `helm upgrade --install `
Uninstall: `helm delete`

[2021-11-25 14:18] IronCore864 opened #9 "Implement uninstall/reinstall interface for argocdapp plugin"
## Description

At the moment, the `Reinstall` and `Uninstall` are mocks.

We want to implement them.

## Describe the Proposal

Reinstall: kubectl apply again

Uninstall: kubectl delete crd xxx

[2021-11-25 14:21] IronCore864 opened #10 "🍀 `Proposal`: see if we can use argocd API/SDK to create the application CRD instead of using kubectl apply"
## Question

At the moment, in the argocdapp plugin, we create the ArgoCD app CRD by using `kubectl apply -f`, which is not ideal.

Do some research and see if it's possible to create the CRD by using ArgoCD Golang SDK/API.

Only research (and maybe a test-drive is needed, no need to implement immediately)

[2021-11-25 14:22] IronCore864 opened #11 "Create a new plugin for Jenkins"
## Description

Maybe it could be the same as the argocd plugin and we can implement a helm install for Jenkins in K8s.

Maybe we could reuse some part of the code (helm install), in which case, a new go module is appreciated.

[2021-11-25 14:23] IronCore864 opened #12 "Create a new plugin for GitLab CI"
## Description

Similar to the github actions plugin, we might need one for GitLab CI.

[2021-11-25 14:28] IronCore864 opened #13 "GitHub Actions plugin: update the workflows for Golang"
## Description

Currently, the github actions plugin will create [two workflows](https://github.com/merico-dev/stream/blob/main/internal/pkg/githubactions/templates.go) for Golang, one is for pull request, the other is for the master/main branch.

Maybe we can simplify it, only create one workflow, for example, like this one:

https://github.com/actions/starter-workflows/blob/a85155b04a1b885de7a50

[2021-11-25 14:32] IronCore864 opened #14 "GitHub Actions plugin: add support for Python and Nodejs"
## Description

At the moment, the github actions plugin only can create workflows for Golang. We need to be able to support Python and Nodejs (we use them ourselves, so these two have higher priority than other programming languages).

For Python, maybe we can create some simple workflow like this one:
https://github.com/actions/starter-workflows/blob/a85155b04a1b885de7a5021312303fe5c1cb58e4/ci/p

[2021-11-25 14:40] IronCore864 opened #15 "Research: github actions plugin - download the workflow yaml on the fly instead of storing them in variables"
## Description

At the moment, the workflows for github actions plugin are hard-coded and stored in [variables](https://github.com/merico-dev/stream/blob/main/internal/pkg/githubactions/templates.go).

Evaluate the possibility to download (http, git api, etc) from [here](https://github.com/actions/starter-workflows/) instead of storing everything as a variable.

If downloading is possible, we need

[2021-11-25 14:41] IronCore864 opened #16 "DevStream Core: state management"
## Description

A local state file as the first implementation.

Remembering which plugins are already executed, which are not, which are executed but failed.

When re-run, only execute those failed/not executed ones.

[2021-11-25 14:44] IronCore864 opened #17 "DevStream Core: plugin management"
## Description

At the moment, the plugins must be placed in a specific directory and must be compiled/built by users before using the CLI tool.

We can build the CLI and the plugins and publish them into GitHub releases.

For more information, check out this discussion here:

https://github.com/merico-dev/stream/discussions/26

## Done-Done

### 1 Add an `init` Command to `dsm`

Add some commands

[2021-11-26 01:49] daniel-hutao opened #18 "Add containerized build support"
## Description

We should move the compile/build process to a container to ensure that everyone can get consistent products. Local compile/build often introduces problems due to inconsistent environment, such as inconsistent golang versions.

## Describe the Proposal

1. Adding golang:1.17.x as a builder container.
2. Updating Dockerfile & Makefile.
3. ...

[2021-11-26 01:52] daniel-hutao commented on #18
/kind proposal

[2021-11-26 02:17] daniel-hutao opened #19 "Failed to install argocd"
## Describe the Bug

Got **unexpected EOF** error when using dsm to install argocd.

## How to Reproduce

1. Prepare config.yaml and put it in _/tmp/config.yaml_
[code]
2. Execute `./dsm install -f /tmp/config.yaml`
3. Got unexpected EOF error.

## Screenshots

<img width="1228" alt="截屏2021-11-26 上午10 15 49" src="https://user-images.githubusercontent.com/18692628/143516759-e40f7526-68ec-47f3-b8b1-

[2021-11-26 04:51] daniel-hutao commented on #16
/assign

[2021-11-26 06:15] IronCore864 commented on #19
I've also met this issue once before. I doubted that it was because of network issues. With VPN, it worked. But I didn't dig too deep into it. We need more debugging; if the network is the problem, we need to find a mirror for downloading this chart for mainland Chinese users.

[2021-11-26 10:42] daniel-hutao opened #21 "Cross-platform build support"
## Description

As it's been discussed at https://github.com/merico-dev/stream/pull/20#discussion_r757267479, we need to support cross-platform build, but it's not very urgent.

We could support linux-amd64 darwin-amd64 windowns-amd64 first, then support other arch like "arm i386, mips64le, ppc64le, s390x ...

see also https://github.com/merico-dev/stream/pull/20

[2021-11-26 10:48] daniel-hutao commented on #8
/assign @daniel-hutao

[2021-11-26 10:51] daniel-hutao commented on #11
I'd like to do it after #8 has been finished.

/assign @daniel-hutao

[2021-11-27 01:03] IronCore864 opened #22 "Add some unit tests for both core and existing plugins"
## Description

Add the right amount of unit tests, so that when the CI build passes, we are certain that the quality is good enough to be merged into main.

[2021-12-01 12:22] daniel-hutao commented on #19
Maybe it doesn't a network issue, I've met this every times even if with VPN.

![image](https://user-images.githubusercontent.com/18692628/144233579-23996cbb-850e-4ef1-b063-87b261d27e08.png)

[2021-12-02 13:29] IronCore864 commented on #19
Please try to :

[code]

and try different VPNs.

I tried:
- Large Hongkong01 allmedia
- ExpressVPN Singapore

and both worked.

After these tests, I think it's safe to say that this is basically a network/firewall issue. Nevertheless, we still need to address this issue, since there will be quite some users within CN behind the firewall.

We probably need sources for helm charts, for docker image

[2021-12-02 14:23] daniel-hutao commented on #19
It worked after I switched a different VPN. I think that we can close this issue for now, and we still need to source for helm charts, and docker images. In addition to solving the problems introduced by the firewall, we may also need to make some custom modifications for charts and images. Of course this is not the most urgent thing right now.

[2021-12-02 14:23] #19 closed

[2021-12-03 01:33] IronCore864 opened #23 "🍀 `Proposal`: Adding support for CN users"
## Description

For users behind the GFW without a VPN, it's not possible to build or run using the default/official registry sources for Docker images, go modules, helm charts, and so on.

## Describe the Proposal

Add documentation about how to set:

- GOPROXY (for example, `goproxy.cn`)
- Docker registry mirrors (e.g., 官方中国区 or 阿里云等源)
- helm registry mirrors (e.g., 阿里源等其他源)

so that users behin

[2021-12-08 08:07] daniel-hutao opened #29 "Adding a "planning decision" feature to determine the next action"
## Description

Adding a "action calculation" feature to determine the next **action** based on the current **States** of the environment and the input **Config**.

## Describe the Proposal

When the state management function is integrated into the main branch #28 , we need to use the States in the next step, that is, an algorithm is needed to determine the specific actions each time the **dsm** i

[2021-12-08 08:12] daniel-hutao commented on #29
/assign @daniel-hutao

I'll make a pr for this feature after #28 is merged.

[2021-12-08 11:32] IronCore864 commented on #29
Very good. This is an important feature for our v0.1 release.

[2021-12-08 11:50] IronCore864 opened #30 "CLI Tool and Packages Rename"
### Done-Done Checklist

1. CLI rename from `dsm` to `dtm`

2. Packages and directories renaming:

`download` to `pluginmanager` or similar (for example `plugindownloader`, so that it's consistent with `statemanager` (functions-verb-er);

`plugin` to `pluginengine`

`config` to `configloader`

`plan` to `planmanager`

3. Doc update (@IronCore864)

[2021-12-08 11:51] IronCore864 opened #31 "Architecture Diagram Update"
Making sure the name and architecture match the implementation.

[2021-12-09 07:34] #16 closed

[2021-12-09 13:24] daniel-hutao opened #36 "Adding air-gapped installation support."
## Description

We need to provide a mechanism to support users to use in an air-gapped or a bad network environment.

Maybe we could provider a shell script like `offline-tool.sh` & text file like `resource.txt`. These 2 file could:
1.  `resources.txt` maintain all resources dsm needed when deploy a new env. Users can customize the content of this file to decide that they need to download all or

[2021-12-09 13:25] daniel-hutao commented on #36
@IronCore864 @lfbdev Please take a look at this feature and give some advice here.

[2021-12-10 03:25] IronCore864 commented on #36
This is a good idea. Let's discuss later.
At the moment, I'm moving this issue to the backlog/roadmap.
Let's commit to the v0.1 release this month.

[2021-12-13 11:04] IronCore864 commented on #17
Reopen because the Done-Done isn't completely fullfilled.

[2021-12-15 05:42] IronCore864 commented on #17
Possible Improvements

1. Add a parameter `-p` `--plugins-dir`

Default location could be `./plugins` or `~/.dsm/plugins/`

2. Plugin Download Logic:

- check md5sum of existing local plugins, then decide if a download is needed or not;
- if a local plugin exists, but the version differs, delete local, then download the correct version.

3. `init` and `install`

What should happen when `install` i

[2021-12-20 05:11] #29 closed

[2021-12-20 06:17] daniel-hutao commented on #30
/assign @daniel-hutao

[2021-12-20 08:12] #30 closed

[2021-12-20 11:34] IronCore864 opened #43 "0.0.1 release: *.so uploaded"
## Done-Done Checklist

- [ ] delete the current v0.0.1 tag and release
- [ ] create a new tag v0.0.1 on the main branch once all tickets in v0.1.0 milestone are finished
- [ ] create a release using the new v0.0.1 tag
- [ ] upload dtm binary and three so files (build for mac m1 only for now) into the release

[2021-12-22 01:55] daniel-hutao opened #48 "Change install command to create/apply"
## Description

Maybe we need to change the install command to create/apply because the uninstall operation can be triggered during the execution of the install command, so the install command is confusing.

In addition, the delete operation may require more consideration. If the user accidentally specifies an empty configuration file, after executing the `dtm` command, all installed components wi

[2021-12-22 02:47] IronCore864 commented on #48
Right, I think we only need two commands, apply and uninstall:
- apply makes sure the state and the config are the same (uninstall might be triggered);
- uninstall destroys everything from the state no matter what the config is.

I'm moving this to the backlog for now; let's focus on v0.0.1 first. We will revisit this in 2022 Jan.

[2021-12-22 02:50] daniel-hutao commented on #48
Ok, Let's discuss it further in 2022 Jan.

[2021-12-22 02:56] daniel-hutao opened #49 "put the actual action into the errors log"
see the discussion below for more information.

https://github.com/merico-dev/stream/pull/46#discussion_r773565726_

[2021-12-22 03:05] IronCore864 opened #50 "E2E Testing"
## Done-Done Checklist

### DTM
- [ ] all dtm params tested

### GitHub Actions Plugin
- [ ] GitHub Actions plugin install from scratch
- [ ] GitHub Actions plugin re-run (install/apply again; reinstall) should not cause any error
- [ ] proper logging messages should be available (for example, xxx pipeline already exists and nothing is changed, etc.)

### ArgoCD Plugin
- [ ] ArgoCD plugin install

[2021-12-22 03:20] #8 closed

[2021-12-22 06:35] #6 closed

[2021-12-22 06:35] #17 closed

[2021-12-22 07:51] daniel-hutao opened #53 "reflactor: Create a New `plugin` Package to Store the Code with All the Built-in Plugins"
## Description

I think that we could create a new `plugin` package to store the code with all the built-in plugins and the pluginengine.
The pkg tree now is like below:
[code]

The packages with the build-in plugins will be more and more. Maybe putting them under one package will make it clearer. Just like below:

[code]

/kind proposal
/cc @merico-dev/devstream

[2021-12-22 08:25] lfbdev opened #54 "if only "argocd" and "argocdapp" in config.yaml, "argocdapp" will be triggered twice, while "argocd" won't be triggerd"
## Describe the Bug

"argocdapp" will be triggered twice:
![image](https://user-images.githubusercontent.com/94163234/147060120-31f49af7-7a92-4368-9aac-7ec1babc0f00.png)

![image](https://user-images.githubusercontent.com/94163234/147060529-4b54c347-70bd-4413-9d79-8de27b6659ff.png)

![image](https://user-images.githubusercontent.com/94163234/147060607-2ccfa7e5-5116-4f1c-ba89-c3e779de9f89.png)

##

[2021-12-22 08:39] daniel-hutao commented on #54
/assign @daniel-hutao Let me take a look.

[2021-12-22 08:47] IronCore864 commented on #53
Good suggestion. This separates the plugins and the dtm components.

Only one comment: maybe use "plugin**s**" (plural instead of singular).

[2021-12-22 08:49] IronCore864 commented on #53
Will do for v0.1.0 release, but after v0.0.1.

[2021-12-22 09:31] #54 closed

[2021-12-22 11:38] daniel-hutao commented on #53
Maybe plugin is more standard. See also https://www.k8stech.net/gopl/chapter10/ch10-06/
![image](https://user-images.githubusercontent.com/18692628/147087207-f3e5e2a0-9541-4467-8e68-b9ebd3ddf355.png)

[2021-12-23 06:10] daniel-hutao commented on #50
We can consider to use a Golang BDD testing framework named Ginkgo.
Github: https://github.com/onsi/ginkgo

I'll have a try for this framework and write a demo for how to use it in DevStream.

[2021-12-23 11:06] IronCore864 commented on #14
Let's try to finish this tomorrow so that we can focus on testing next week and prepare for the v0.0.1 release. @lfbdev @daniel-hutao

[2021-12-23 12:21] daniel-hutao commented on #14
Maybe we need to merge #47 and close #7 first.

[2021-12-24 02:18] daniel-hutao commented on #7
/close #47

[2021-12-24 02:18] #7 closed

[2021-12-24 02:18] daniel-hutao commented on #9
/close #47

[2021-12-24 02:18] #9 closed

[2021-12-24 03:44] IronCore864 opened #64 "Refactor: cmd and pluginengine Refactor"
## Description

Current situation:

- most logic (download plugins, create a backend, read state, create a plan and execute it) all lives in the `cmd/devstream/install.go`; the `internal/pkg/pluginengine` doesn't do much except load the so and execute the corresponding interface
- plan generation code lives in `stream/internal/pkg/planmanager/result.go` which doesn't seem right according to the na

[2021-12-24 04:06] IronCore864 opened #65 "Require Multiple Reviewers for PR"
## Description

For the main branch, set the number of approving reviews to 2.

[2021-12-26 06:11] daniel-hutao opened #71 "Proposal: Add a concurrent-safe map to improve the concurrency security of the state management module"
## Description

sync.Map is like a Go `map[interface{}]interface{}` but is safe for concurrent use by multiple goroutines without additional locking or coordination.

sync.Map is more reliable and efficient than default build-in Map + Mutex.

## Describe the Proposal

- Adding a `ConcurrentMap` type to package sync.Map & keyType & valueType
- Change `States` to `StatesMap`, States & State are a bi

[2021-12-26 07:17] daniel-hutao commented on #65
Prow is a Kubernetes based CI/CD system. It provides GitHub automation in the form of policy enforcement, chat-ops via `/foo` style commands, and automatic PR merging.

Maybe we clould use Prow to improve DevStream cicd.

See also: https://github.com/kubernetes/test-infra/tree/master/prow#readme

Style like:

![image](https://user-images.githubusercontent.com/18692628/147401550-49ff1775-2544-43b4-

[2021-12-27 02:03] #31 closed

[2021-12-27 04:14] daniel-hutao commented on #14
#69

[2021-12-27 04:14] #14 closed

[2021-12-27 05:18] daniel-hutao commented on #50
All tested cases from me(Live Update):

[ ] xxx

[2021-12-27 07:08] daniel-hutao opened #73 "bug: The logs in the plugins disappeared"
## Describe the Bug

The logs in the plugins disappeared. See the screenshot below for the details.

For now, maybe we should return all error messages to the core(dtm) module instead of printing them to stdout.

## How to Reproduce

./dtm install -f xxx.yaml

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/147444529-8fa97189-5d73-42ee-85ee-74c8ffc7dad6.png)

[2021-12-27 07:20] daniel-hutao commented on #73
err is nil here, and env is "".  So it's not a bug.

[2021-12-27 07:20] #73 closed

[2021-12-27 14:15] daniel-hutao opened #77 "Add "Code of Conduct" for DevStream"
## Scope

Add "Code of Conduct" for DevStream

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/147479726-296a94be-6884-41ed-b674-b0409b925622.png)

[2021-12-27 14:22] daniel-hutao opened #78 "Add CLA (Contributor License Agreement) for DevStream"
## Scope

Add CLA (Contributor License Agreement) for DevStream

## Additional Context

- https://en.wikipedia.org/wiki/Contributor_License_Agreement
- https://github.com/cncf/cla/blob/master/individual-cla.pdf
- https://opensource.com/article/18/3/cla-vs-dco-whats-difference

[2021-12-28 01:57] daniel-hutao opened #79 "proposal: githubactions supports multi-repo"
## Description

githubactions supports multi-repo

## Describe the Proposal

[2021-12-28 02:31] daniel-hutao opened #80 "proposal: put goimports... into GitHub Actions base image."
## Description

The Makefile now is:

[code]

Maybe we can re-choose a base image containing `goimports` or customize our own base image with more tools.

[2021-12-28 02:46] daniel-hutao opened #81 "bug: githubactions "delete" failed with no "sha" error"
## Describe the Bug

githubactions "delete" failed with no "sha" error

[code]

## How to Reproduce

uninstall or reinstall a githubaction

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/147522412-711b3508-de35-420f-845c-c188de216dfa.png)

[2021-12-28 02:46] daniel-hutao commented on #81
fixed by #76

[2021-12-28 02:57] daniel-hutao opened #82 "bug: statemanager delete a State when uninstall failed."
## Describe the Bug

statemanager delete a State when uninstall failed.

## How to Reproduce

1. install a plugin
2. uninstall a plugin but failed with some error
3. look into devstream.state file

## Expected Behavior

state file hold the State with `uninstall failed`

[2021-12-28 03:01] lfbdev commented on #81
reloved,  [need SHA opt ] (https://github.com/merico-dev/stream/pull/76)

[2021-12-28 05:30] daniel-hutao opened #84 "bug: invalid memory address or nil pointer dereference at getFileSHA()"
## Describe the Bug

invalid memory address or nil pointer dereference at getFileSHA()

[code]

![image](https://user-images.githubusercontent.com/18692628/147531364-69c933fe-baab-4753-97f1-7e049d4b320a.png)

## Other notes

I've fixed this bug at #74 but it's reopen at #76 by "resolve conflict".

![image](https://user-images.githubusercontent.com/18692628/147531231-a19d611e-6927-4cb3-99c5-2fc01f7

[2021-12-28 09:15] lfbdev commented on #82
/lgtm

[2021-12-28 09:15] #82 closed

[2021-12-28 09:53] daniel-hutao commented on #81
/reopen

[2021-12-28 11:10] daniel-hutao opened #87 "proposal: support plugins upgrade"
## Description

For example, we have installed the v1 version of argocd, and the configuration file is changed to v2 now. Planmanager needs to be able to recognize this change and give a corresponding upgrade plan

## Describe the Proposal

## Describe the Alternatives You Have Considered

// TODO

/kind proposal

[2021-12-28 11:14] daniel-hutao opened #88 "proposal: add a progress bar to the process of downloading the plugin"
## Description

add a progress bar to the process of downloading the plugin

## Describe the Proposal

## Describe the Alternatives You Have Considered

// TODO

/kind proposal
/assign @daniel-hutao I'm very interested in this feature.

[2021-12-28 11:17] daniel-hutao opened #89 "bug: xxs - log format error at downloading plugin"
## Describe the Bug

Some logs like below:

[code]

Try to make it more beautiful.

/kind bug
/assign @lfbdev

[2021-12-28 11:22] daniel-hutao opened #90 "proposal: print some logs when `dtm init -f xxx.yaml` with no error"
## Description

print some logs when `dtm init -f xxx.yaml` with no error

[2021-12-28 11:24] daniel-hutao opened #91 "proposal: make the makefile aware of version changes"
## Describe the Proposal

Make the makefile aware of version changes.

The version at the Makefile now is Hardcored:

[code]

## Describe the Alternatives You Have Considered

1. Config the version as a variable at Makefile.
2. Use `sed` command in the first line at the `build stage`(make build) to render this variable into the version.go file.
3. So both Golang code & Makefile will know the real

[2021-12-29 02:54] daniel-hutao commented on #81
It could be closed now. #86

[2021-12-29 02:54] #81 closed

[2021-12-29 03:30] daniel-hutao opened #93 "Bug: argocdapp installation failed with no specific error log output"
## Describe the Bug

argocdapp installation failed with no error log output

## How to Reproduce

1. cp examples/config.yaml /tmp/
2. dtm install -f /tmp/config.yaml

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/147624748-a4b05355-674c-4629-ae4c-5a081a985f92.png)

## Additional Context

[code]

/kind bug

[2021-12-29 03:47] daniel-hutao commented on #49
/assign @daniel-hutao I'll use a map to save the errors to do it.

[2021-12-29 04:57] daniel-hutao opened #94 "Proposal: Make the uninstall operation idempotent"
## Description

Take argocdapp as an example. If this plugin has been uninstalled, the uninstall operation will fail at this time.

## Describe the Alternatives You Have Considered

Handle the error like below

[code]

/kind proposal

[2021-12-29 08:43] lfbdev opened #98 "need progress bar when downloading plugins"
## Description

What are you trying to do, , how do you want to do it, how would you do it differently?

Is it something you currently cannot do? Is this related to an issue?

## Describe the Proposal

A clear and concise description of what you would like.

## Has the Feature been Requested Before?

Please link related issues here, if any.

## Describe the Alternatives You Have Considered

A clea

[2021-12-29 09:00] #89 closed

[2021-12-29 09:00] #90 closed

[2021-12-29 09:08] #49 closed

[2021-12-29 09:08] #93 closed

[2021-12-29 09:08] #94 closed

[2021-12-29 14:36] daniel-hutao opened #99 "Bug: failed to uninstall argocdapp clean"
## Describe the Bug

Failed to uninstall argocdapp.
These resources should be cleaned up by the `operator`, but at this time the operator has been deleted.
It should be solved after we have the dependency manager.

[code]

/kind bug

[2021-12-30 09:25] daniel-hutao opened #100 "Proposal: Add a `--force` flag support"
## Description

`dtm install -f config.yaml --force`

## Describe the Proposal

## Describe the Alternatives You Have Considered

[2022-01-04 01:42] IronCore864 opened #102 "init and install logic improvement:"
What should happen when install is called without calling init first?

Shall we run the init anyway for the user, or only a warning should be given and let the user take control of the whole process?

We can refer to other open-source tools, like Terraform init/apply.

[2022-01-04 01:43] IronCore864 opened #103 "Plugin Download Logic improvement:"
check md5sum of existing local plugins, then decide if a download is needed or not;
    if a local plugin exists, but the version differs, delete local, then download the correct version.

[2022-01-04 01:43] IronCore864 opened #104 "dtm init Improvement: Add a Parameter -p (--plugins-dir)"
## Current Situation

Plugins dir: `./plugins/`

State: `./devstream.state`

## New Behaviour

- add a new parameter `-p` or `--plugin-dir`. mkdir if directory doesn't exist.
- default value could be `./.devstream/plugins/`
- state file `./.devstream/devstream.state`

[2022-01-04 02:26] #50 closed

[2022-01-04 02:27] #43 closed

[2022-01-04 02:27] #22 closed

[2022-01-04 02:51] #71 closed

[2022-01-04 03:03] IronCore864 opened #105 "Terraform state/config/resource investigation"

[2022-01-04 03:19] daniel-hutao commented on #88
/re-assigh @lfbdev

[2022-01-04 03:36] #53 closed

[2022-01-04 05:55] #77 closed

[2022-01-04 06:35] #88 closed

[2022-01-04 06:36] #98 closed

[2022-01-04 07:14] lfbdev commented on #65
we may use this opt:
![image](https://user-images.githubusercontent.com/94163234/148022614-93484362-6259-4f1f-9205-aa4a250a012d.png)

[2022-01-04 07:18] lfbdev commented on #65
but normal developers do not have this permission, need @basicthinker's help

[2022-01-04 09:53] #104 closed

[2022-01-04 10:06] #48 closed

[2022-01-04 10:37] #78 closed

[2022-01-05 01:22] #65 closed

[2022-01-05 01:40] IronCore864 commented on #48
Delete will be implemented in another ticket. Closing this one for now.

[2022-01-05 05:58] IronCore864 commented on #105
/close

[2022-01-05 05:58] #105 closed

[2022-01-05 06:00] IronCore864 opened #111 "Test"
## Question

Ask a question with as much detail as possible here.

## Screenshots

If applicable, add screenshots to help elaborate on the question.

## Additional Context

Add any other helpful context here.

[2022-01-05 07:47] #111 closed

[2022-01-06 07:58] IronCore864 opened #115 "ArgoCD Plugin: if `create_namespace` is `True`, delete the namespace when calling Uninstall interface."

[2022-01-07 06:35] #64 closed

[2022-01-10 05:52] #99 closed

[2022-01-10 08:07] IronCore864 opened #118 "Automated Local E2E Testing - Prepare ENV"
## Description

An automated way to create  local ENV for testing.

Done-Done Checklist:

- README: pre-requisites: docker must be installed and docker daemon must be started before running the following command; brew must be installed
- make create-env
- install kind (if not exist)
- install kubectl (if not exist)
- give a warning if docker daemon isn’t started
- kind delete/kind create
- make de

[2022-01-10 08:38] #118 closed

[2022-01-11 02:41] daniel-hutao opened #119 "Bug: Due to the addition of md5 logic, the locally updated version of the plugins cannot be used"
## Describe the Bug

Due to the addition of md5 logic, the locally updated version of the plugins cannot be used

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/148871879-97b6db93-4749-4dd2-acb1-182ab9eddc1c.png)

## Additional Context

#117

[2022-01-11 02:56] #119 closed

[2022-01-11 03:12] IronCore864 commented on #102
With the current logic, and with the implementation of plugin md5 check, apply will always try to download if local plugins are newly built, since the md5 sums differ.

A new design:
- `dtm apply` will not call `dtm init` logic
- `dtm apply` will:
  - read config to get a list of plugins needed
  - check if each plugin exists locally
  - if any plugin is missing, create an error that reminds the u

[2022-01-11 03:38] lfbdev opened #121 "There is a problem in reademe file"
## Describe the Bug

![image](https://user-images.githubusercontent.com/94163234/148877229-0eea016d-a5bd-4150-b4fb-4948f3b180ef.png)

should be apply

[2022-01-11 06:53] lfbdev commented on #121
add static check

[2022-01-11 08:41] #102 closed

[2022-01-12 02:58] #18 closed

[2022-01-12 02:58] #21 closed

[2022-01-12 03:01] IronCore864 commented on #121
- apply/install: fixed in the latest PR
- make fmt/vet: please add in the next PR.

[2022-01-12 03:01] #103 closed

[2022-01-12 03:40] IronCore864 commented on #121
Add: the doc should mention that `GOPATH/bin` needs to be placed in `PATH` so that `goimports` can work.

[2022-01-15 05:31] daniel-hutao opened #130 "Bug: pipeline.yml format error - plugin githubactions"
## Describe the Bug

pipeline.yml format error
/cc @lfbdev

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/149610302-0e6b9259-b91d-4f0c-9e06-6045ee5ab7ec.png)

[2022-01-15 05:40] daniel-hutao commented on #130
Only occurred when config.yaml lost the `job` param. Maybe need to improve exception handling logic

[2022-01-16 14:34] daniel-hutao opened #131 "Help wanted - fatal error: unreachable method called. linker bug?"
## Question

`./dtm check` will get the right result.
`./smoke` will get the panic

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/149664163-68a96fe1-7775-4dc8-9181-04d8d9d2ae25.png)

![image](https://user-images.githubusercontent.com/18692628/149664328-b18578f2-ee2d-4ef7-85bb-6e0c15a1410d.png)

[2022-01-17 02:35] #121 closed

[2022-01-17 02:39] lfbdev opened #133 "feat:add comment automatically by githubactions when coverage done"
## Description

add comment automatically by githubactions, when coverage done

[2022-01-17 02:44] IronCore864 commented on #131
Background: we are doing end-to-end test and want the `smoke` binary to call the `pluginengine` but inconsistent behavior occurred (compared to triggering the `plugineingine` by `cobra`.

After some thoughts, maybe it's better if we put what the `smoke` is supposed to do as a stand-alone `dtm` sub-command (i.e., `dtm verify`), and the end-to-end test can be a shell script which calls `dtm apply` t

[2022-01-17 08:21] IronCore864 opened #136 "Each plugin should be allowed to used multiple times / multiple instances"
## Design 1: Multiple Occurrences of Each Plugin

[code]

Pros:
- no need to update the plugin code
- minimum change for the core code: only need to change the state, name of the plugin, and how to load it

Cons:
- big change for the config file; redundancy in the config; each plugin occurs multiple times; long config file (which can be improved in the future by splitting it up)
- might need to ve

[2022-01-17 09:16] #136 closed

[2022-01-18 05:48] #133 closed

[2022-01-18 05:51] IronCore864 commented on #100
Will add a step for user to confirm before actually installing. Closing for now.

[2022-01-18 05:51] #100 closed

[2022-01-18 05:52] #79 closed

[2022-01-18 05:54] IronCore864 commented on #36
This issue is closely related to #23. Closing this one and let's move the discussion there.

[2022-01-18 05:54] #36 closed

[2022-01-18 05:59] #13 closed

[2022-01-18 09:09] #131 closed

[2022-01-19 07:09] IronCore864 opened #143 "Apply/Delete Should Ask for User Confirmation"
## Description

Both `dtm apply` and `dtm delete`, by default, should ask the user to confirm before actually executing the changes.

There should also be an option to bypass the confirmation (useful for automation), just like `apt -y update`.

[2022-01-19 11:57] #143 closed

[2022-01-20 02:52] lfbdev opened #148 "Feat: logging improvement by using advanced log framework"
## Description

What are you trying to do, , how do you want to do it, how would you do it differently?

Is it something you currently cannot do? Is this related to an issue?

## Describe the Proposal

A clear and concise description of what you would like.

## Has the Feature been Requested Before?

Please link related issues here, if any.

## Describe the Alternatives You Have Considered

A clea

[2022-01-25 03:17] #148 closed

[2022-01-25 03:18] #91 closed

[2022-01-25 03:18] #15 closed

[2022-01-25 07:46] lfbdev opened #163 "bug:need more print for each step"
## Describe the Bug

need more print for each step of trello plugin

## How to Reproduce

add log print

[2022-01-25 14:05] #163 closed

[2022-01-26 08:56] IronCore864 opened #169 "💣 `Bug`: hack/e2e/e2e-up.sh only supports darwin/arm64, not darwin/amd64"
## Describe the Bug

[code]

[2022-01-26 09:09] IronCore864 opened #170 "cross-platform build doesn't work properly"
## Describe the Bug

Built from darwin/arm64 for darwin/amd64:

[code]

[2022-01-26 09:50] #170 closed

[2022-01-26 09:50] IronCore864 commented on #170
Plugin cross arch build doesn't work for darwin arm64/amd64. Updated Makefile accordingly so that we only build it locally.

[2022-01-27 08:11] lfbdev opened #176 "Need a param to control log debug level"
Need a param to control log debug level

maybe: ./dtm-darwin-arm64 apply -f examples/config.yaml -d

if d, then print debug
if not, then print info

[2022-01-27 12:16] daniel-hutao opened #177 "Adding --force flag to delete command"
## Description

Currently delete operations depend on devstream.state file.

If I accidentally delete the state file, or the apply execution is halfway interruptted, there is no state in the state file at all. At this time, there is actually some  modifications in the environment, but I have no way to delete this data.For example, helm install fails due to the image pull timeout. At this time, the

[2022-01-28 01:48] daniel-hutao opened #179 "Proposal: Adding more debug/info level logs for the dtm core"
## Description

Adding more debug/info level logs for the dtm core

[2022-01-28 01:49] daniel-hutao opened #180 "Proposal: Adding more UT/E2E for the dtm core"
## Description

Proposal: Adding more UT/E2E for the dtm core

[2022-01-29 13:21] daniel-hutao opened #181 "Proposal: Turning on Atomic flag with Helm style plugins"
## Description

Maybe we should turn on this flag to ensure that there will be no dirty data when the Install() process fails.

![image](https://user-images.githubusercontent.com/18692628/151662439-c7ca9a0b-2196-4b17-a144-ea0a90263258.png)

![image](https://user-images.githubusercontent.com/18692628/151662451-f78c0246-3d84-4814-be59-b5f888c08239.png)

[2022-02-09 01:35] daniel-hutao commented on #176
/close

[2022-02-09 01:35] #176 closed

[2022-02-10 08:28] lfbdev opened #185 "githubactions default config and behaviour update"
## Description
There are 3 issues.

The “jobs” section doesn’t do anything. We should remove it. From:

- name: golang-demo-app
  plugin:
    kind: githubactions
    version: 0.0.2
  options:
    owner: ironcore864
    repo: go-hello-http
    language:
      name: go
      version: "1.17"
    branch: master
    jobs:
      build:
        enable: True
        command: "go build ./..."
      test:

[2022-02-14 08:19] IronCore864 opened #187 "dtm version should only return version number without extra logging"
<img width="390" alt="Screenshot 2022-02-14 at 16 18 33" src="https://user-images.githubusercontent.com/19277614/153826047-c4ac94ca-2e74-49d0-8c40-c596b980b666.png">

[2022-02-15 01:27] lfbdev opened #191 "Golang Repo Scaffolding: implement other interfaces (uninstall/reinstall)"
## Description

uninstall: delete repo

reinstall: delete and create repo

ishealthy: does repo exist?

[2022-02-15 05:58] daniel-hutao commented on #191
close #190

[2022-02-15 05:58] #191 closed

[2022-02-15 06:47] daniel-hutao commented on #181
close #183

[2022-02-15 06:47] #181 closed

[2022-02-15 07:10] #187 closed

[2022-02-15 07:10] #115 closed

[2022-02-19 11:44] #130 closed

[2022-02-19 11:45] #11 closed

[2022-02-19 11:45] daniel-hutao commented on #12
#206

[2022-02-19 11:45] #12 closed

[2022-02-22 13:09] daniel-hutao opened #215 "Bug(jenkins): If pv already exists, skip pv creation"
## Describe the Bug

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/155138615-9ca36000-6159-47d2-b49b-ce854b0a045c.png)

[2022-02-22 13:14] daniel-hutao opened #216 "Bug(helm-style plugins): If the create() fails, we need to clean up the created namespace"
## Describe the Bug

If the create() fails, we need to clean up the created namespace.

[code]

## How to Reproduce

[code]

[2022-02-22 13:15] daniel-hutao commented on #216
/plugin Jenkins

[2022-02-22 13:16] daniel-hutao commented on #215
/plugin Jenkins

[2022-02-23 01:58] daniel-hutao commented on #215
same for ClusterRole/ClusterRoleBinding

[2022-02-23 03:35] daniel-hutao opened #219 "Bug: extra field with helm-style plugins state"
## Describe the Bug

extra field:

[code]

devstream.state

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/155257589-4a4a524a-c5d3-41f3-9b58-c9fafb668cd5.png)

[2022-02-23 07:41] #219 closed

[2022-02-23 08:17] daniel-hutao opened #222 "Bug(helm-style plugins): apply returns success regardless of whether the installation process was successful or not when Atomic turned on"
## Describe the Bug

Apply returns success regardless of whether the installation process was successful or not when Atomic turned on.

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/155282636-6fc4af61-be7b-4764-bc87-6b40f5db03ac.png)

[2022-02-23 11:55] #216 closed

[2022-02-24 03:17] #215 closed

[2022-02-24 06:26] #222 closed

[2022-02-25 03:10] IronCore864 opened #231 "kube-prometheus plugin re-apply still shows change"
## Describe the Bug

Apply kube-prometheus a second time still shows change even though it's installed and running well.

## How to Reproduce

Config:

[code]

then run `dtm apply`. kube-prometheus is installed successfully, and the state is:

[code]

then run `dtm -d apply` again (with debugging log). Part of the log:

[code]

[2022-02-25 05:07] daniel-hutao commented on #231
config.yaml

[code]

command

[code]

then, the devstream.state is

[code]

the real resources state:

[code]

apply again

[code]

[2022-02-25 05:07] daniel-hutao commented on #231
I've got it.

[2022-02-25 07:48] #231 closed

[2022-02-26 02:33] daniel-hutao opened #237 "Bug(`github-repo-scaffolding-golang`): the `branch` param does NOT take effect."
## Describe the Bug

The config.yaml I used:

[code]

After I executed the command `./dtm-darwin-arm64 apply -y -f config-github-reposcaffolding-golang.yaml --debug`, I got the repo like below:

![image](https://user-images.githubusercontent.com/18692628/155825605-04e0c2f9-4825-4e61-8976-bd63d6b452ae.png)

At this time, you can see that the branch is `main`, not the `master` specified in the confi

[2022-02-26 02:54] daniel-hutao opened #238 "Bug(`github-reposcaffolding-golang`): panic when execute `dtm delete -f xxx.yaml`"
## Describe the Bug

Forget to set GITHUB_TOKEN env variable and execute the `./dtm-darwin-arm64 delete -y -f config-github-reposcaffolding-golang.yaml --debug`

[code]

[2022-02-28 00:49] #237 closed

[2022-02-28 00:49] #238 closed

[2022-02-28 01:24] IronCore864 opened #240 "devstream.state file created even when "apply" isn't executed."
## Describe the Bug

When we run `dtm init`, `dtm version`, or simply `dtm`, the `devstream.state` file is created.

## Expected Behavior

We should only create the state file when we run `dtm apply`; for other commands like `version`, `init` that don't rely on the state file, we don't need to create the file prematurely.

[2022-02-28 05:39] daniel-hutao commented on #240
I'll handle this issue.

[2022-02-28 06:14] #240 closed

[2022-03-02 06:24] imxw opened #251 "Proposal: It is recommended to add a "Quick Start" document"
README有点简略，对新手不太友好，最好有一个快速跑起来的demo

[2022-03-02 06:35] daniel-hutao commented on #251
It is recommended to add a "Quick Start" document.

[2022-03-02 06:36] daniel-hutao commented on #251
@imxw Thank you for your feedback, "Quick Start" is really important, and we will add this document as soon as possible.

[2022-03-02 06:39] daniel-hutao commented on #177
/assgin @lfbdev

[2022-03-02 06:43] daniel-hutao commented on #169
[code]

@IronCore864 Could you please execute the command `arch` and pause the output here. the $(arch) maybe not equals to `amd64` at your env.

[2022-03-02 08:02] imxw opened #252 "`dtm verify` results show that some tools are not healthy, but can't get more detail"
## Describe the Bug

dtm version: dtm-darwin-arm64 0.2.0
OS: MacOS  M1
config file:
[code]

## How to Reproduce

[code]

## Screenshots

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/16207029/156316235-9504f114-d27a-470b-86bb-d14087354eac.png">

[2022-03-02 08:02] imxw opened #253 "`dtm verify` results show that some tools are not healthy, but can't get more detail"
## Describe the Bug

dtm version: dtm-darwin-arm64 0.2.0
OS: MacOS  M1
config file:
[code]

## How to Reproduce

[code]

## Screenshots

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/16207029/156316235-9504f114-d27a-470b-86bb-d14087354eac.png">

[2022-03-02 10:01] daniel-hutao commented on #252
Maybe there is no bug you think, because you haven't execute `dtm apply`, so the resources has not been created.

In addition, some fields in your configuration file need to be changed to your own, such as `owner: ironcore864`.

However, there are indeed some problems exposed here, the logs we output here are not accurate, and I will continue to track this problem.

[2022-03-02 13:35] daniel-hutao commented on #252
Good suggestion!
By the way, you can get all the params meaning at https://github.com/merico-dev/stream/blob/main/docs/plugins/github-repo-scaffolding-golang_plugin.md

And I'll consider adding the comments to config.yaml too. @IronCore864 What's your opinion?

[2022-03-02 13:36] daniel-hutao opened #254 "Proposal: Adding more comments at example/config.yaml"
## Description

See the https://github.com/merico-dev/stream/issues/252#issuecomment-1056938530 for more info.

[2022-03-02 13:39] daniel-hutao opened #255 "Bug: `dtm verify` shouldn't return any error before `dtm apply`"
## Describe the Bug

If the users forget to execute `dtm apply` after `dtm init`, but directly execute `dtm verify`, error log should not be output at this time.

See the https://github.com/merico-dev/stream/issues/252#issue-1156718149 for more info.

## How to Reproduce

See the https://github.com/merico-dev/stream/issues/252#issue-1156718149 for more info.

[2022-03-02 13:58] daniel-hutao commented on #255
/assign @IronCore864

[2022-03-02 14:00] daniel-hutao commented on #254
/assigh @daniel-hutao

[2022-03-02 14:09] #252 closed

[2022-03-03 01:02] IronCore864 commented on #255
Thanks @imxw for submitting the [issue](https://github.com/merico-dev/stream/issues/252)!

This is a very good issue that emphasizes many points:

1. `dtm verify` should not "fail" or "error" in any circumstances. The purpose of the "verify", as the word means, is to make sure if something is as expected.
2. The "error" in the log is a bit too much. If an "error" message is displayed, the user mig

[2022-03-03 01:35] daniel-hutao opened #257 "Bug(argocdapp): crd isn't a namespaced resource"
## Describe the Bug

![image](https://user-images.githubusercontent.com/18692628/156479299-d4870bb3-fc31-4906-bdba-d090a2d3029a.png)

config.yaml

[code]

[2022-03-03 02:09] daniel-hutao opened #259 "Proposal: split the config.yaml into more smaller configuration files"
## Description

As you can see, the `config.yaml` is very large now. Any user who uses this configuration needs to delete some plugins that are not needed, otherwise, it will fail with a high probability.

So I suggest keeping only a few simple plugin configurations in `example/config.yaml`, and putting more plugin configurations into separate documents. Finally, the users can choose which plugins

[2022-03-03 02:14] daniel-hutao commented on #259
https://github.com/merico-dev/stream/pull/258#discussion_r818256885

[2022-03-03 02:30] IronCore864 commented on #259
Moving to our internal Jira.

[2022-03-03 02:30] #259 closed

[2022-03-03 02:33] IronCore864 commented on #257
The CRD can be either namespaced or cluster-scoped, as specified in the CRD's scope field:

https://github.com/merico-dev/stream/issues/259

For argocd app, it's namespace scoped:

https://github.com/argoproj/argo-cd/blob/master/manifests/crds/application-crd.yaml#L18

[2022-03-03 03:06] daniel-hutao commented on #257
@IronCore864 That's CR's, not crd, crd is cluster-scoped.

[2022-03-03 03:43] IronCore864 commented on #257
"# where the ArgoCD application CRD will be created" ->

"# where the ArgoCD Application will be created"

[2022-03-03 04:30] #254 closed

[2022-03-03 07:03] #255 closed

[2022-03-03 10:24] JaneLiuL opened #262 "🍀 `Proposal`: enhance github repo create action"
## Description

could we add github repo and use our own template instead of default template?
also could we setup the repo as internal options?

## Describe the Proposal

A clear and concise description of what you would like.

## Has the Feature been Requested Before?

Please link related issues here, if any.

## Describe the Alternatives You Have Considered

A clear and concise description of a

[2022-03-03 10:29] JaneLiuL opened #263 ":bug: apply and create git repo success, then delete from github, apply again and fail"
## Describe the Bug
below is my config, the first time i run apply -f ./config.yml
and check the repo on github, and i delete the new repo
then i run again apply -f ./config.yml , it fail as below
<img width="936" alt="image" src="https://user-images.githubusercontent.com/56822274/156546397-ecb85887-9f1d-414f-abab-d5ae997e218a.png">

[code]

## How to Reproduce

Steps to reproduce the bug:

1. cre

[2022-03-03 11:42] daniel-hutao commented on #263
@JaneLiuL I went into your `repository list` and didn't find a project named `test-demo`. Please confirm that the project has been successfully created.

It is also possible that the delete operation is performed twice.

[2022-03-03 11:46] daniel-hutao commented on #262
Thanks for your feedback. Regarding the problem of custom templates, it is impossible for DevStream to identify an unknown template. However, we provide a plugin mechanism, you can develop your own plugin according to the DevStream specification, and implement custom template parsing in this plugin.

See https://github.com/merico-dev/stream/blob/main/docs/creating_a_plugin.md for more info.

[2022-03-03 11:50] daniel-hutao commented on #257
/assign @daniel-hutao

I'll fix this problem while submitting the Chinese version of Quick Start tomorrow.

[2022-03-03 11:51] daniel-hutao commented on #251
/assign @IronCore864 - English version Quick Start
/assign @daniel-hutao - Chinese version Quick Start (中文版)

[2022-03-04 00:24] JaneLiuL commented on #263
i think you have some mistakes.
please apply first, then delete repo on github,
then apply again, will fail at 404.
this is a bug. i can reproduce.
and also when i delete `rm -rf ./devstream.state ` and apply again can success

[2022-03-04 01:30] IronCore864 opened #264 "GitHub Actions Plugin Fails When Docker Section Doesn't Exist"
## Describe the Bug

When docker isn't disabled explicitly, `dtm apply` fails.

## How to Reproduce

Steps to reproduce the bug:

`config.yaml`:

[code]

Note that there isn't docker enabled true because I want to use default value false.

Then `dtm apply`, got some logs:

[code]

## Expected Behavior

When the docker section is omitted from the config, there shouldn't be an error; we can use the

[2022-03-04 01:30] IronCore864 commented on #264
/assign @lfbdev

[2022-03-04 01:37] IronCore864 commented on #262
@JaneLiuL We use Golang to render the templates. For example, [this is the template](https://github.com/merico-dev/dtm-scaffolding-golang) we have been using.

When defining the templates, you need to set some "placeholders", and when rendering the template, you need to know what variables to pass to those placeholders as values.

Because of this nature, this plugin currently can't support a user-

[2022-03-04 01:46] IronCore864 opened #265 "When GITHUB_TOKEN is not set, repo scaffolding and github actions plugin doesn't tell the user which env var is missing"
## Describe the Bug

When env var GITHUB_TOKEN is not set, `dtm apply` fails without explicit error messages about what ENV VAR is missing.

## How to Reproduce

Steps to reproduce the bug:

`config.yaml`:

[code]

Unset GITHUB_TOKEN, then `dtm apply`, got some logs:

[code]

## Expected Behavior

An error message like "Environment variable GITHUB_TOKEN is not set." should be displayed so that the

[2022-03-04 02:06] IronCore864 commented on #263
Let me rephrase, see if I understand your process correctly or not:

1. add both repo-scaffolding and github-actions plugins in the config
2. apply
3. after a successful apply, the repo and the github actions are both created
4. delete the repo manually
5. apply again

Is this what you mean?

If yes, I can reproduce. I'm on it. Thanks!

---
Chinese:

为了确保我准确理解了你的意思， 让我重复描述一下，你看对不对：

1. 把repo-scaff

[2022-03-04 02:32] IronCore864 commented on #263
https://github.com/merico-dev/stream/blob/a7ea9480f1db36db9287619291bf80b40c57cbc1/pkg/util/github/repo.go#L44

This might be the root cause. When 404, err isn't nil.

[2022-03-04 02:44] IronCore864 commented on #263
PR #266 is for this issue.

We will keep this issue open until the next bug-fix release is made.

[2022-03-04 02:59] #257 closed

[2022-03-04 02:59] #265 closed

[2022-03-04 03:21] daniel-hutao commented on #180
This proposal is not specific enough, and it is not very actionable. ut/e2e needs to be gradually improved and continuously improved. just closed it.

[2022-03-04 03:21] #180 closed

[2022-03-04 03:24] daniel-hutao commented on #179
Perhaps it is a better choice to gradually improve the debug log in daily testing, rather than doing it specially.

[2022-03-04 03:24] #179 closed

[2022-03-04 03:31] daniel-hutao commented on #87
Not the point in the short term

[2022-03-04 03:31] #87 closed

[2022-03-04 03:32] daniel-hutao commented on #10
/assign @daniel-hutao

[2022-03-04 05:33] #251 closed

[2022-03-04 06:05] #264 closed

[2022-03-04 07:08] imxw opened #272 "proposal: need to use `values.yaml` to make more custom configuration for apps installed from helm chart"
## Description

some plugins are installed by helm chart, but we can't make some custom configuration now. So please support  it! Let users can configure the apps by `values.yaml`.

[2022-03-04 07:49] daniel-hutao commented on #272
Good suggestion! Are you willing to implement this feature?

If you are willing to do it, I will be very happy to help you if nedded.

[2022-03-04 07:52] imxw commented on #272
Yes, I'm happy to  implement it

[2022-03-04 07:53] daniel-hutao commented on #272
Cool~
/assign @imxw

[2022-03-04 07:59] daniel-hutao commented on #272
1. First of all you can find config examples for all helm-plugins under `docs/plugins/`
2. Then add a parameter under options.chart -> values_yaml: values.yaml
3. Then see the code for more info `pkg/util/helm/param.go:29`

[2022-03-04 10:15] cosmic-flood opened #273 "This is amazing, i want to integrate our service as one of your DevOps Tools"
## Question

How can i join your project?

I am a Chinese feature flags provider (feature-flags.co). I found that this is a very cool project. Imagine that someone would create a very common infrastructure + cooperation + devops system, and then i can just copy the .yaml file then i get the same great system like what "someone (maybe big company)" have.

This is just a "breathtaking" project!!

[2022-03-05 00:50] #272 closed

[2022-03-06 16:38] lfbdev opened #278 "Feat: add "dtm delete --force" for deleting everything defined in the config, regardless of the state"
## Description

for deleting everything defined in the config, regardless of the state

add an option for delete cmd : dtm delete --force

[2022-03-07 02:06] #177 closed

[2022-03-07 08:22] lfbdev opened #281 "Add log print stack: error log should print line number, file name"
## Description

error log should print line number, file name

[2022-03-07 08:50] #281 closed

[2022-03-07 09:45] imxw opened #284 "Proposal: integrate openldap plugin"
## Description

Most of the DevOps tools used by small and medium-sized companies are open source and have their own user authentication system. If each platform maintains a set of user data, the maintenance workload will increase greatly, so we basically choose a unified authentication system, and [OpenLDAP](https://www.openldap.org/) is a good choice, and it is free and open source. As a DevOps

[2022-03-07 10:12] daniel-hutao commented on #284
Thanks for your contribution.

/assign @imxw

[2022-03-07 14:26] imxw opened #286 "bug: the helm application reports an error when it performs an update operation after modifying the configuration file"
## Describe the Bug

After installing argo, modify its configuration file, execute `apply` operation, delete process due to namespace delete delay, will report `argocd` namespace already exists, `create` operation will report an error, continue to execute `apply` operation, report `argocd` namespace already exists

The execution process and error log are as follows

[code]

[2022-03-07 14:28] imxw commented on #286
@daniel-hutao

[2022-03-07 14:36] daniel-hutao commented on #286
Good Job!!!

[2022-03-08 02:03] #286 closed

[2022-03-08 06:15] IronCore864 commented on #273
Hi @cosmic-flood. Thanks a lot for your interest! This is a huge inspiration for us!

I suggest a quick demo with your team so that we know how it works, how it's installed, and how it can integrate and interact with other tools. After that, we may also do a quick demo session on developing a new plugin.

Thanks again for your interest and potential contributions :)

[2022-03-08 15:36] lfbdev opened #295 "Plugin Githubactions: no blank between path: and coverage.out"
## Describe the Bug

 no blank between path: and coverage.out

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/94163234/157271248-83a9fae0-0a95-42fc-bb9f-f810764faa2e.png">

[2022-03-09 07:59] lfbdev opened #298 "Plugin githubactions: push to main branch directly, workflow will raise error"
## Describe the Bug

![image](https://user-images.githubusercontent.com/94163234/157397665-21ac72c6-c8a9-41f2-8810-074fce689505.png)

push to main branch directly,  workflow will raise error

[2022-03-09 08:16] RishiKumarRay commented on #298
@lfbdev can you elaboarte this please

[2022-03-09 08:18] RishiKumarRay commented on #295
@lfbdev can you elaboarte this one also please?

[2022-03-09 08:20] #284 closed

[2022-03-11 05:15] daniel-hutao opened #302 "🐞 panic for `nil pointer dereference` when `dtm apply`"
## Describe the Bug

command:

[code]

logs:

[code]

[2022-03-11 05:56] daniel-hutao opened #305 "🐞 `github actions` workflow failed for the format error"
## Describe the Bug

[code]

See https://github.com/daniel-hutao/go-webapp/actions for more info.

## How to Reproduce

`./dtm apply -f gitops.yaml` (#304 )

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/157810622-43e00d19-6756-4c8e-9032-39f15c9b1de1.png)

@lfbdev Please take a look at this error.

[2022-03-11 06:29] #302 closed

[2022-03-11 07:08] daniel-hutao commented on #305
/close

[2022-03-11 07:08] #305 closed

[2022-03-11 07:11] #298 closed

[2022-03-11 07:11] #295 closed

[2022-03-12 07:11] daniel-hutao opened #307 "`proposal`: decouple `trellogithub` and "github.com/google/go-github/v42/github""
## Description

Letting the `trellogithub` without any line of code directly use the "github.com/google/go-github/v42/github"

See #277 for more info.

/assign @warren830

[2022-03-14 01:40] lfbdev opened #314 "A separate plug-in is required to create Trello board and output boardID and persistence"
## Description

A separate plug-in is required to create Trello board and output boardID and persistence

[2022-03-14 09:34] summingyu opened #318 "I get an error when I execute the `dtm apply -f quickstart.yaml` command on a linux system"
## Describe the Bug

I get an error when I execute the `dtm  apply -f quickstart.yaml` command on a centos7 system

## How to Reproduce

Steps to reproduce the bug:

1. Get the latest code and execute the make build command on a centos7 system
2. Use quickstart.yaml to generate the config.yaml file
3. execute dtm init -f config.yaml command
4. execute dtm apply -f config.yaml command
4. See the er

[2022-03-14 10:15] daniel-hutao opened #319 "proposal: unify the parameter type naming of various plugins"
## Description

Some plugins use `Param` for the `parameter type`, such as

- github-reposcaffolding-golang *internal/pkg/plugin/reposcaffolding/github/golang/param.go*

[code]

But some plugins use `Options` for the `parameter type`, such as

- *jiragithub internal/pkg/plugin/jiragithub/options.go*

[code]

This is not good. I think the `Options` is better here.

@summingyu Would you please help

[2022-03-14 10:22] daniel-hutao commented on #319
Great !!!

/assign @summingyu

[2022-03-14 14:52] daniel-hutao opened #320 "proposal: let dtm recognize that plugins version `exactly` match their own version"
## Description

Due to problems with the `golang plugins` mechanism, `dtm` and `plugins` must be compiled at the same time to ensure correct operation. For example, if the `dtm` is updated, the old `plugins` may not match. If the user builds the `dtm` by himself, after executing `dtm init`, the plugins with mismatched versions will be downloaded, and then strange bugs will be encountered.

eg.

[c

[2022-03-15 01:55] #314 closed

[2022-03-15 01:57] lfbdev opened #324 "Add plugin outputs reference function"
## Description

${{ TOOL_NAME.TOOL_KIND.outputs.var}}

[2022-03-15 06:45] #307 closed

[2022-03-16 03:05] daniel-hutao opened #325 "proposal: create a cmd tool to help generate scaffolding for plugin code"
## Description

If we need to develop a new plugin, there will be a lot of `repetitive work`. There is a lot of repetitive code. Copy-pasting of this code is tedious and error-prone. So I want to develop a tool to do this.

## Describe the Proposal

cmd eg.

`dtm plugin create --name=your-plugin-name --type=your-plugin-type`

The first version will be: `dtm plugin create --name=you-plugin-name`. B

[2022-03-16 03:23] daniel-hutao commented on #325
/cc @IronCore864 @lfbdev @warren830 @imxw Please take a look at this proposal and give me some advice.

[2022-03-16 04:14] IronCore864 commented on #325
A very good proposal.

To me, `dtm plugin create` might mean "create the tool" using that plugin. Similarly, `dtm plugin rename` could mean to rename the local *.so file.

Maybe we can create a more self-explanatory name.

Some random examples: `dtm contributor-helper create-plugin abc` (it's very long, bad example; what I mean by it is, the command can be more specific).

[2022-03-16 06:48] daniel-hutao commented on #325
Good tips!

I have a new idea about the cmd name:

- `dtm develop create-plugin --name=your-plugin-name`

Some other cmds in the future maybe:

- `dtm develop delete-plugin --name=your-plugin-name`
- `dtm develop create-env`
- `dtm develop lint-xxx`
- ...

[2022-03-16 07:48] imxw commented on #325
I like this proposal. Hopefully it will be finished and merged into trunk soon, so I will have more fun writing plugins!

[2022-03-16 14:32] daniel-hutao opened #326 "proposal: trigger GitHub actions after some specific comments"
## Description

Currently, we trigger actions through events such as `pr created/updated` which is obviously a waste of ci bandwidth because pr may be updated frequently.

I think it is more controllable, elegant, and efficient to trigger the ci process through comments.

/co-proposed @IronCore864

## Describe the Proposal

When a pr is created, the ut actions flow can be triggered by the comment

[2022-03-18 13:38] IronCore864 commented on #169
[code]

[2022-03-18 13:39] #325 closed

[2022-03-19 13:19] #324 closed

[2022-03-22 03:39] summingyu opened #338 "🐞 After I submit a pr, the github action check executes with an error"
## Question

github aciton reports 403 error after "test" under "build-and-test-on-macos"

## Screenshots
https://github.com/merico-dev/stream/runs/5638000058?check_suite_focus=true
![image](https://user-images.githubusercontent.com/17695185/159402602-584ded1c-738d-4f81-97d7-62ab38fbb755.png)

[2022-03-22 10:37] algobot76 opened #339 "📖 Missing doc for `dtm destroy`"
## Scope

`docs/core_concept.md`

## Describe the Change

- Nitpick: Change the file name from `core_concept.md` to `core_concepts.md`, so that the file name matches the title.
- Add doc about the command `dtm destroy`
- Suggestion: Instead of explaining dtm commands in `core_concept.md`, why not create a separate doc called `dtm_commands_explained.md` which explains what each dtm command does?

#

[2022-03-22 14:10] daniel-hutao commented on #338
Thanks for your feedback! I'll fix it at a week.

[2022-03-22 14:13] daniel-hutao commented on #338
#326

[2022-03-23 02:52] #339 closed

[2022-03-23 02:54] IronCore864 commented on #339
Thanks @[algobot76] for raising this doc issue!

All solid points, which have been fixed in https://github.com/merico-dev/stream/pull/340

Good job!

[2022-03-23 13:34] daniel-hutao opened #342 "Proposal: Refactor All Plugins to Be Consistent with The `Plugin Template`"
## Description

Now we have tools to automatically generate the scaffolding of a plugin. But we haven't before.

Yes, so there must be some inconsistencies in so many plugins that have been implemented before.

Let me think, how can we fix it?

## How to do it

First, you need to know how we generate a plugin scaffolding now.
You could see the #325 for more info with the command `dtm develop creat

[2022-03-23 13:51] warren830 commented on #342
/assign @warren830 Can you share some plugins with me, haha

[2022-03-23 13:56] imxw commented on #342
I'm happy to do that. Just waiting for the distribution of @daniel-hutao

[2022-03-23 13:57] summingyu commented on #342
/assign @summingyu Let's all join together :)

[2022-03-23 14:24] daniel-hutao commented on #342
ok，ok，ok，3 volunteers now，，，

[2022-03-23 14:25] daniel-hutao commented on #342
@imxw
- [ ] argocd
- [ ] kube-prometheus
- [ ] jenkins
- [ ] openldap
- [ ] githubactions-golang

@warren830
- [ ] argocdapp
- [ ] devlake
- [ ] trello
- [ ] gitlabci
- [ ] githubactions-nodejs

@summingyu
- [ ] github-repo-scaffolding-golang
- [ ] jira-github
- [ ] trello-github
- [ ] githubactions-python

[2022-03-24 08:43] summingyu opened #348 "Proposal: Automatically build the makefile from the cmd directory"
## Description

After we build the plugin automatically, can we find the plugin directory and automatically build the .so file with the corresponding plugin name by combining the "for" function of the makefile, instead of modifying the makefile file manually?

## Describe the Alternatives You Have Considered

This is the function I used to test the build, which passed the local test and was succes

[2022-03-24 12:44] daniel-hutao commented on #348
Great thinking!

`trello-github-integ` is a canonical name that represents a plugin for the integration of `trello` and `github`, but the correspondence with the package name did become inconsistent. This is a problem we need to think about.

[2022-03-24 13:18] daniel-hutao commented on #348
Or we can refactor the cmd package with:

[code]

@IronCore864 @lfbdev agree?

[2022-03-24 14:33] #320 closed

[2022-03-24 14:34] daniel-hutao commented on #318
#320 #337

[2022-03-25 03:09] algobot76 opened #351 "Proposal: Add Homebrew support"
## Description

It is cumbersome to download an executable from GitHub and put it into `/usr/local/bin` whenever a new release comes out. Life would be a lot easier if I could download `dtm` by running `brew install dtm` and upgrade it by running `brew upgrade dtm`.

## Describe the Proposal

Add a new formulae to Homebrew. See https://docs.brew.sh/Adding-Software-to-Homebrew

## Has the Feature b

[2022-03-25 03:32] IronCore864 commented on #348
Very good proposal!

After internal discussion within the PMC, we decided the followings need to be done in order to consider this issue resolved:

1. Directory naming: use hyphen (-) instead of underscore （_). This convention must be strictly followed for _ALL_ directories in this repo.
2. File naming: use underscore (_). We are already doing this. We need to make sure no file is named with hypye

[2022-03-25 06:17] summingyu commented on #348
Standardization is necessary, but
I started with just this idea: I wanted a fixed function to get all the plugin names and plugin directories used for building, so that I don't have to modify the makefile file when adding plugins.😂

[2022-03-25 07:36] daniel-hutao commented on #348
Scope：

@daniel-hutao

Refactoring the `cmd` package to keep the dir-name same as the plugin's name.

@summingyu

Refactoring

- Makefile
- build/package/build_linux_adm64.sh

@IronCore864

All the docs related.

[2022-03-27 03:23] IronCore864 commented on #351
Thanks for this great proposal.

Please hold on for a moment; we probably need to fork homebrew into another org.

[2022-03-27 14:52] algobot76 opened #361 "Proposal: use make -j to speed up compilation"
## Description

The current compilation is slow, we can make it faster by running parallel tasks to compile plugins.

## Describe the Proposal

Use `make -j` to build plugins parallelly.

## Has the Feature been Requested Before?

no

## Describe the Alternatives You Have Considered

n/a

## Additional Context

I use the following modified Makefile to check if `make -j` can bring performance impro

[2022-03-28 01:24] IronCore864 commented on #351
It seems like we can't put devstream to homebrew-core according to: https://docs.brew.sh/Acceptable-Formulae#we-dont-like-binary-formulae

DevStream has Apache 2.0 license and it seems it's not DFSG-free.

I propose we maintain a new tap: https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap

For now, please use this one https://github.com/devstream-io/homebrew-devstream and create a PR there. Tha

[2022-03-28 02:52] daniel-hutao commented on #342
#345

[2022-03-28 02:53] daniel-hutao commented on #342
/close

[2022-03-28 02:53] #342 closed

[2022-03-28 02:54] daniel-hutao commented on #338
/close #362

[2022-03-28 02:54] #338 closed

[2022-03-28 02:56] daniel-hutao commented on #263
/close

[2022-03-28 02:56] #263 closed

[2022-03-28 04:00] lfbdev opened #364 "Automated Release - Implementation"
## Description

Background:
trigger can be manual, build/upload for 3 platforms should be automatic

add auto release script for darwin arm64
add githubactions for linux and darwin amd64

[2022-03-28 08:25] daniel-hutao opened #367 "Tell us what project management tools do you use."
## Questionnaire

What project management tools do you use?

Maybe you're using `JIRA`, maybe you're using `Trello`, or maybe you're using some other tools.

Please tell us your choice and we will give `the highest priority` to the tools you are using.

---

Chinese version：

## 问卷

DevStream 想知道你正在用什么项目管理工具？

如果你正在用 Jira 或者 Trello，那么 DevStream 已经支持了，欢迎你来试用。

如果你选择的是其他工具，比如“禅道”等，也欢迎告诉我们，我们将会以最高的优先

[2022-03-28 08:29] keepauto commented on #367
jira+禅道

[2022-03-28 11:51] #361 closed

[2022-03-28 11:52] #364 closed

[2022-03-28 11:53] #326 closed

[2022-03-28 13:53] algobot76 commented on #351
See https://github.com/devstream-io/homebrew-devstream/pull/1

[2022-03-28 15:51] owen2016 commented on #367
jira

[2022-03-29 01:56] #80 closed

[2022-03-29 03:33] daniel-hutao commented on #169
Yes, I saw the `GOHOSTARCH="amd64"` & `GOARCH="amd64"` at the output with `go env`, but the script uses `"$(arch)" == "arm64"` to determine whether the arch is amd64 or not. So you need to confirm what will be return when execute the `arch` command.

[2022-03-29 16:20] algobot76 opened #372 "Doc: homebrew support"
## Scope

README

## Describe the Change

We have the devstream tap setup (https://github.com/devstream-io/homebrew-devstream), so it's time to demonstrate how to install `dtm` via Homebrew.

## Screenshots

n/a

## Additional Context

n/a

[2022-04-01 04:09] IronCore864 commented on #351
Brew now is supported from version v0.3.1. Thanks for contributing.

[2022-04-01 04:09] #351 closed

[2022-04-01 04:10] IronCore864 commented on #372
We have a simple README now. Would you like to enrich it a bit? @algobot76 Thanks!

[2022-04-01 04:10] #348 closed

[2022-04-01 14:30] imxw opened #377 "🍀 `Proposal`: I hope there will be an entry for custom Gitlab CI templates"
## Description

The current GitLab CI pipeline plugin uses the official template which usually needs to be modified before it works on our project. In practice, we rarely use official templates directly, but often customize our own templates according to different programming languages as shown below.

<img width="354" alt="image" src="https://user-images.githubusercontent.com/16207029/161276308-f

[2022-04-01 15:23] algobot76 opened #378 "🍀 `Proposal`: Add Remote State Support"
## Description

It is easy to use `dtm` for personal use. However, it's might not be enough for teams: everyone has a copy of state that may or may not be up-to-date and it's hard to manually update the copies to the most recent state as they are stored across different computers.  A remote seems like a solution to this problem.

## Describe the Proposal

To support remote state, `dtm` must satisf

[2022-04-01 15:26] algobot76 commented on #372
Sure. Will update README soon.

[2022-04-02 01:37] LinuxSuRen opened #379 "🍀 `Proposal`: Support to download the plugin files from a proxy server"
## Description

When I try to use `dtm` to do something. I got the connection timeout errors. It might be pretty common for the Chinese users, the connection to GitHub release URL is not stable in China.

## Describe the Proposal

So, I am thinking if it's possible to let `dtm` downloads those files from a proxy server. Of course, it would be better to let users choose this behavior. For example,

[2022-04-02 02:35] IronCore864 commented on #378
A very good proposal!

At the moment, we do not have a whole lot of users yet, so maybe we can leave the state locking part out; an AWS S3 backend would be highly appreciated.

[2022-04-02 03:08] imxw opened #380 "Proposal: Add fig autocomplete support"
## Description

I've been using the command line for a long time, and I'm a user of **fig autocomplete** which is very cool. It lets you add visual autocomplete to any CLI tool or script. If `dtm` supports **fig autocomplete**, I believe it will greatly  improve the user experience.

## Describe the Proposal

See https://github.com/withfig/autocomplete

## Has the Feature been Requested Before?

N

[2022-04-02 06:01] daniel-hutao commented on #380
This idea sounds cool!
I agree to add this feature.
I don't know what everyone thinks @devstream-io/pmc ;
If all agree, I suggest this feature can be assgin @imxw to realize.

[2022-04-02 06:10] daniel-hutao commented on #379
You are right, using `dtm` in China will indeed face network problems, and we have also thought about whether to store all the `plugins` in a domestic cloud storage.

If we are using a proxy, there may be two ways.
- One is to add a flag to specify the proxy as you said,
- And the other is to directly `export http_proxy ...` to implement the proxy mode without intrusion.

For users who do not have

[2022-04-02 06:11] daniel-hutao commented on #379
As for the download of `dtm`(DevStream cli) itself, maybe `hd` is a good way, I don't know what other people think. @devstream-io/pmc

[2022-04-02 06:13] daniel-hutao commented on #377
/cc @IronCore864

[2022-04-02 06:28] LinuxSuRen commented on #379
There are a few free proxy servers that we can use. See also [here](https://github.com/LinuxSuRen/http-downloader/blob/d72756da9d7e131f8515fba0807ca1654cc5f887/cmd/get.go#L62).

[2022-04-02 06:31] daniel-hutao commented on #379
It seems cool!

[2022-04-02 06:34] daniel-hutao commented on #379
I think it's ok to add a `--gh-proxy` or `--proxy` flag to let `dtm` downloads plugins from a proxy server. We could set a default free proxy server and reserve the right to choose which proxy to use with this flag.

[2022-04-02 08:43] IronCore864 commented on #379
This is actually a great idea.

I think we should use `--proxy` instead of `--gh-proxy` because in the near future we might need to publish the artifacts to AWS S3 or equivalent instead of GitHub. So the `--proxy` fits future plans better.

@daniel-hutao please create a simple and small design for this feature, and thanks a lot for @LinuxSuRen this great contribution!

[2022-04-02 09:59] daniel-hutao commented on #379
Hi Rick @LinuxSuRen , Thank you for the great proposal!

I wrote some considerations here, maybe not being completely accurate. But I hope these suggestions will help you.

- Flag name: proxy(--proxy), maybe `-p` is not needed, because `-p` is easy to confuse with `port`
- This flag should be global, not used by `init` alone, because other commands may also need to download some "dependencies". (`

[2022-04-02 10:06] LinuxSuRen commented on #379
hi @daniel-hutao , thanks for your details. That's great.

Consider the use case of downloading a file from the GitHub release is pretty common. I'm thinking about if it's possible to reuse [http-downloader](https://github.com/LinuxSuRen/http-downloader/) project. That means if it's possible to do the most work in the project `hd`, than reuse it in the `devstream` project.

[2022-04-02 10:18] daniel-hutao commented on #379
Wait a minute, just hang up first, maybe my previous answer was not rigorous enough, let's discuss internally more for the `best practices`, and I'll update the "final" suggestion here later.

[2022-04-02 10:25] IronCore864 commented on #379
After second thought, I don't think depending on a few fixed third-party proxies like "gh.api.99988866.xyz", "ghproxy.com", "mirror.ghproxy.com", etc., is the best we can do because they might be subject to change.

I think a more generic solution would be to publish *.so files in an object store inside the GFW. What do you guys think?

[2022-04-02 10:56] LinuxSuRen commented on #379
It's ok to publish those plugin files to any place. But for a contributor, it is best to let all people can see the files easily. This can allow more people to be able to improve it. And I don't recommend having multiple places for different people who are in different countries. The potential users and contributors might come from any place. To make it be short, I think the GitHub release is good

[2022-04-02 11:08] algobot76 commented on #378
S3 backend will be a good starting point :)

[2022-04-02 13:09] summingyu opened #383 "Proposal: I would like to have support for generating the default config configuration using the command"
## Description

I would like to have support for generating the default config configuration using the command
such as `dtm config githubaction ` to generate the default configuration of githubaction

## Describe the Proposal

The current way to get the plugin configuration file is to visit the docs directory of the github repository.
However, if a customer installs with brew or has only one binar

[2022-04-02 14:02] daniel-hutao commented on #383
Great idea! In fact, as early as a few months ago, I thought about generating a specific devops toolchain through the command line interactively, such as the `GitOps chain`.
I have also discussed this idea with @IronCore864  before, but since `DevStream` is not mature enough, the idea had been waiting for the right time.

---

We can implement this idea step by step. In order to avoid getting into

[2022-04-02 14:05] daniel-hutao commented on #383
@summingyu Please wait for @IronCore864 's reply, after determine the implementation method, then start development.

[2022-04-02 14:37] summingyu opened #384 "Proposal: View all supported plugins with the list command"
## Description

View all supported plugins by list command, and support group display

[2022-04-03 12:46] daniel-hutao commented on #384
Great idea! @summingyu

It's a good idea to get the names of all dtm supported plugins directly from the command line. Because it is really cumbersome to query which plugins are available through the documentation.

Since there are not many plugins at present, I recommend outputting all the plugins' names directly without grouping.

When there are more plugins are supported in the future, we could

[2022-04-03 15:44] daniel-hutao commented on #378
Since the tools we want to manage are mainly open source, why not support a free "remote backend" first? Such as ETCD/MySQL and so on. These backends will also be more readily available for many users. I also believe many users' environment is air-gapped, or whose teams do not have a chance to use commercial cloud storage.

If we implement ETCD backend first, we don't have to deploy ETCD on "remot

[2022-04-03 15:46] daniel-hutao commented on #367
/close
I collected more answers through questionnaires on WeChat.

[2022-04-03 15:46] #367 closed

[2022-04-05 14:26] lfbdev opened #388 "Feat: remove dtm md5 validation and .md5 file"
## Description

1.remove dtm md5 validation and .md5 file

2. keep plugins' md5 validation

[2022-04-06 02:25] #372 closed

[2022-04-06 03:35] IronCore864 commented on #378
I think both s3 and etcd/mysql have their own values.

S3 has a great "pro", which is it's almost a universal protocol, supported by many cloud providers and even open-source databases. The con, of course, is the pricing (although minimum).

etcd is open-source, free to use, but the users will have to deploy it themselves. Similar for mysql.

If we have to choose one, which do you guys prefer?

[2022-04-06 03:37] IronCore864 commented on #384
Great idea @summingyu

`list-plugins`, `list-plugins --kind=ci` look quite natural to my eyes.

Let's go!

[2022-04-06 03:39] IronCore864 commented on #383
@summingyu great idea!

@daniel-hutao I think `dtm config default` is a little bit too verbose (command, sub-command, sub-sub command). Maybe `dtm default-config --plugin=A_PLUGIN_NAME` is enough?

Let's decide on this detail and get started :)

[2022-04-06 03:41] IronCore864 commented on #380
`fig` looks nice. Please also consider alternatives like `bash-completion`, examples:
- https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-linux/
- https://kubernetes.io/docs/tasks/tools/included/optional-kubectl-configs-bash-mac/

Make a decision using your best judgement :)

[2022-04-06 03:43] IronCore864 commented on #379
@LinuxSuRen after a discussion with Daniel, we decided to wait a little bit before implementing this feature, mainly because of another high-priority task. Please keep this thread open, and let's revisit it again soon (hopefully in 2 weeks).

[2022-04-06 03:43] #388 closed

[2022-04-06 04:25] daniel-hutao commented on #384
/assign @summingyu

[2022-04-06 04:34] daniel-hutao commented on #383
When I was thinking about this command format(`dtm config default`), I thought that there may be more possibilities for config subcommands, such as `dtm config validate`, etc.;

Of course, there is no such needs at present, so `dtm default-config --plugin=A_PLUGIN_NAME` is also  a good format for me.

As for the verbose, perhaps it would be easier for the user to see the `default` subcommand immed

[2022-04-06 04:36] daniel-hutao commented on #380
/assign @imxw

[2022-04-06 04:40] daniel-hutao commented on #378
I'm not familiar with s3, so my vote may not be neutral enough.
@algobot76 I'd like to leave the decision to you.
S3? ETCD? MySql? Make a decision using your best judgement.

[2022-04-06 10:35] IronCore864 commented on #383
@daniel-hutao @summingyu I think `config` sounds like a noun instead of a verb, so `dtm config` doesn't follow other commands' naming convention (dtm + verb), like `dtm init`, `dtm apply`, etc.

May I suggest `dtm show default-config --plugin=A_PLUGIN_NAME`?

I would like to use the verb `show`, because later we can also `dtm show outputs`.

What do you think?

[2022-04-06 10:36] #384 closed

[2022-04-06 10:49] summingyu commented on #383
@daniel-hutao @IronCore864

I think `show config` might be better, helm is also using this

[2022-04-06 10:53] daniel-hutao commented on #383
`show config` vs `show default-config`

I vote `show config`, it's more clear.

[2022-04-06 10:57] IronCore864 commented on #383
Great, go for it. Then let's decide on `dtm show config` :)

[2022-04-06 11:59] daniel-hutao commented on #383
I'll implement the `default config print` logic at `dtm develop create-plugin` first, then, we all can refactor all plugins to support the `default config print` logic together.

/cc @summingyu

[2022-04-06 12:05] daniel-hutao commented on #383
/cc @devstream-io/devstream If you are interested in this feature, please leave your comments below.

After I complete the development of `dtm develop`, I will assign a dozen specific plugins to volunteers leave comments below.

[2022-04-06 12:11] algobot76 commented on #378
I prefer S3 because:

1. S3 is probably the most popular remote storage for files.
2. ETCD is mainly known by K8S developers
3. Both MySQL & ETCD require deployment by users, which is not very convenient.
4. Also, using S3 means the users don't have to take care of security themselves.

[2022-04-06 12:12] summingyu commented on #383
I am interested

[2022-04-07 02:48] daniel-hutao commented on #383
@summingyu @imxw You can go for it after #392 merged.

- Refer to the `internal/pkg/show/config/plugin/argocd.go` file to implement other plugins "default config print" logic in the same directory.
- See `docs/plugins` for the default configs with all plugins.
- Remember to use `dtm show config --plugin=xxx` to verify the result.
- Keep the go file name same as the `plugin name`, such as `argocd.g

[2022-04-07 07:23] daniel-hutao opened #393 "Proposal: support for using global variables in config file"
## Description

We sometimes need to use a configuration item multiple times in the config file, such as `github.owner`. If it can be configured through a variable, it will simplify the maintenance of the config file.

## Describe the Proposal

maybe:

[code]

[2022-04-07 07:26] daniel-hutao commented on #383
/assign @imxw @summingyu @daniel-hutao

[2022-04-07 07:27] daniel-hutao commented on #393
Wait for more comments about `global variables`
/cc @devstream-io/devstream

[2022-04-08 01:18] imxw commented on #393
If there are global variables, will there be local variables in each plugin scope to override the global variables？

[2022-04-09 07:00] imxw opened #401 "Proposal: I would like to know which plugins I have installed with `dtm` and their status"
## Description

As a user, I would like to know which plugins I have installed with `dtm` and their status by `dtm` command.

## Describe the Proposal
Examples are as follows
- `dtm list resources` gets plugins that I have installed
- `dtm show states --plugin=argo` gets the state of `argo` plugin
- `dtm show states --plugin=all`  gets the full content of the state file

## Has the Feature been Re

[2022-04-09 07:19] IronCore864 opened #402 "`dtm destroy` doesn't respect dependency/order"
## Describe the Bug

for example, argocd got deleted before argocdapp:

[code]

[2022-04-09 08:12] IronCore864 commented on #402
Similar issues might exist for delete --force

[2022-04-09 12:28] daniel-hutao commented on #393
Good thinking. However, there are very few scenarios in which a configuration item needs to be repeatedly used in one plugin at present. It may be considered later when this scenario is more often. I think we can start by supporting global variables first.

[2022-04-10 04:40] daniel-hutao opened #404 "🐞 `make build-plugin.xxx` working abnormally"
## Describe the Bug

[code]

## How to Reproduce

Steps to reproduce the bug:

1. `make build-plugin.github-repo-scaffolding-golang`
2. `go list plugins`

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/162601768-afc37a6e-663a-407e-9b66-1ea0e29facce.png)

[2022-04-10 04:46] #404 closed

[2022-04-10 16:42] KeHaohaoke opened #406 "linux version: v0.3.2 dtm-linux-amd64 certificate has expired"
## Describe the Bug

The certificate has expired

## How to Reproduce

Steps to reproduce the bug:

1. wget https://devstream.gateway.scarf.sh/releases/v0.3.2/dtm-linux-amd64
2.  See the error :
ERROR: cannot verify devstream.gateway.scarf.sh's certificate, issued by ‘/C=US/O=Let's Encrypt/CN=R3’:
  Issued certificate has expired.
To connect to devstream.gateway.scarf.sh insecurely, use `--no-chec

[2022-04-11 03:43] daniel-hutao commented on #380
https://github.com/withfig/autocomplete/pull/1140

[2022-04-11 03:46] #406 closed

[2022-04-11 03:50] KeHaohaoke commented on #406
close : a minor issues

[2022-04-12 02:35] daniel-hutao commented on #401
Great idea!

Status is actually divided into two parts:
1. The states recorded in the "State Backend"(devstream.state now)
2. The real status with the resources

So maybe we need a command to get all these two "status".

---

Command Design:

- dtm show status # return all plugins' status
- dtm show status --plugin=PLUGIN_NAME # return the status with PLUGIN_NAME

The output message should cover t

[2022-04-12 02:37] daniel-hutao commented on #401
If you agree with this implementation idea, I will continue to add the specific design of output information. /cc @devstream-io/devstream

[2022-04-12 14:19] daniel-hutao commented on #401
# The printing information design

## Command: `dtm show status --plugin= demo`

### `State` (recorded in the state file) == `Resource` (state got from **Read** interface)

[code]

[2022-04-12 14:51] daniel-hutao commented on #380
A document with "how to use fig along with dtm" is needed.

@imxw @IronCore864

[2022-04-13 01:18] imxw commented on #380
What to pay attention to when writing documents now?

[2022-04-13 02:45] IronCore864 commented on #401
Great. Let's continue with this design.

[2022-04-13 04:11] IronCore864 commented on #393
## Proposal

Example:

`variables.yaml`:

[code]

`config.yaml`:

[code]

### 1 How to Render Variables

We want to use Go's `text/template` to render variables.

It's the most simple way. After reading variables.yaml into a struct and config into bytes, before unmarshal config into a struct, we use Go's template to replace those vars.

### 2 Variables Naming Convention

Use `camelCase`; follow ya

[2022-04-13 04:11] IronCore864 commented on #393
@daniel-hutao @imxw please review this simple design.

[2022-04-13 04:57] daniel-hutao commented on #393
Great design! @IronCore864
But I'm afraid the format "[[ .varNameA ]]" has a little bit complex to normal users, especially the "." prefix with the variable.

Can we use the "[[ varNameA ]]" without "." ?
If the go template asks the "." must exist, can we add it by some way like "regexp"？

Anyway, I think many users will be confused with the "."

[2022-04-13 05:29] IronCore864 commented on #393
I think we must have the dot:

Regex is a good idea.

Let's try using `[[ varNameA ]]` instead, and use regex to add the missing dot before rendering the template.

[2022-04-13 05:37] daniel-hutao commented on #393
lgtm

[2022-04-13 09:33] #402 closed

[2022-04-13 11:18] daniel-hutao commented on #401
There are some details that have changed, like `--name` flag. For more details, please see `Test` in #410

[2022-04-14 02:48] #401 closed

[2022-04-15 04:39] #393 closed

[2022-04-15 04:39] #380 closed

[2022-04-15 04:42] daniel-hutao commented on #23
See also: #379

[2022-04-15 04:42] daniel-hutao commented on #379
See also #23

[2022-04-15 07:01] LinuxSuRen commented on #379
So, I guess we can track this issue in #23 . And I can close this issue now. Right?

[2022-04-18 03:22] prodanlabs opened #424 "Proposal: New Plugin for Generic Helm Chart Deployment"
## Description

I personally think it is possible to create a generic helm plugin to deploy the application of helm charts
for example
[code]
I don't know if anyone is interested in this feature :）

[2022-04-21 02:42] lfbdev opened #427 "bug: validate all parameters (not empty) in the upload/release for arm64 script"
## Describe the Bug
auto-release-darwin-arm64.sh should check all variables. If empty, no error should occur.

[2022-04-21 15:12] daniel-hutao opened #429 "Bug(core): The destroy command told me nothing before ask me: Continue?"
## Describe the Bug

The `destroy` command told me nothing before ask me: Continue?

If I say Yes, the delete started. It's all been deleted, and I have no chance to regret it. You didn't tell you which tool instances to destroy before I said Yes?

- `./dtm destroy`

[code]

[2022-04-22 02:51] daniel-hutao opened #431 "Proposal: remove the `tools[n].name` field in config.yaml"
## Description

I think the `name` field is meaningless. See what we used as a name in config file now:

- `config.yaml`
[code]

The `name` configuration will not affect the deployment result of the tool at all. Its only function is to be used as part of the key in the state, thereby supporting multiple instances.

Why don't we randomly generate an instance name to support multiple instances? This

[2022-04-22 03:21] daniel-hutao commented on #431
[code]

[2022-04-22 03:41] daniel-hutao commented on #431
[code]

vs

[code]

[2022-04-22 05:56] daniel-hutao commented on #431
final version:

[code]

/assign @daniel-hutao

[2022-04-22 05:58] daniel-hutao commented on #431
final version:

[code]

/assign @daniel-hutao

[2022-04-23 09:06] daniel-hutao opened #432 "Bug(githubactions-golang): Main Builder failed with error `go.mod file not found`"
## Describe the Bug

/plugin `githubactions-golang`

GitHub Actions log:

[code]

## Screenshots

![image](https://user-images.githubusercontent.com/18692628/164888079-7f6c5136-e872-4a37-890d-20fab5c483e2.png)

/kind bug
/assign @daniel-hutao

[2022-04-23 09:41] daniel-hutao opened #434 "Bug(githubactions-golang): GitHub Actions workflow failed with error: `Error: Username and password required`"
## Describe the Bug

Test case: GitOps

1. `dtm apply xxx` succeeded with NO error
2. GitHub Actions workflow failed:

![image](https://user-images.githubusercontent.com/18692628/164889224-63be0602-5353-4a27-a7f2-55847857da2c.png)

/plugin githubactions-golang
/assign @daniel-hutao

[2022-04-23 09:42] #431 closed

[2022-04-24 01:43] daniel-hutao commented on #434
There is another point to consider. Currently, `DockerHub Username` doesn't support passing through configuration files, but uses environment variables, which is unreasonable. I think it can be changed like this:

[code]

/cc @devstream-io/pmc

[2022-04-24 02:20] daniel-hutao opened #436 "Proposal: New Command: `dtm develop validate-plugin --name=xxx`"
## Description

We have `dtm develop create-plugin --name=xxx` to scaffold a new plugin.

So when someone submits a PR for a new plugin, how do we know that the plugin conforms to our scaffolding specification?

So I want to add a command to help us with this check.

E.g. `dtm develop validate-plugin --name=xxx`

@devstream-io/devstream Who is interested?

[2022-04-24 03:01] summingyu commented on #436
I'm interested

[2022-04-24 04:18] daniel-hutao commented on #436
/assign @summingyu You got it.

After implement this feature, please check whether all the existing plugins are "illegal" by the way.

[2022-04-24 05:29] #432 closed

[2022-04-24 05:29] #434 closed

[2022-04-25 01:21] daniel-hutao commented on #424
# Summary

Thanks for your proposal, it's a great idea. I'd like to give a design here.

## Scope

As you all know, we already have a lot of plugins implemented through the helm SDK. Maybe you have a question here: Why don't you implement all `helm-type plugin` deployments through a plugin names `helm-generic` plugin? Let me tell you.

If you simply deploy a tool through `helm install` command, yo

[2022-04-25 02:57] prodanlabs commented on #424
Sorry, I don't have time right now. If it affects the version plan may need to be assigned to someone else.
I might have time next month.

[2022-04-25 03:15] prodanlabs commented on #424
Hi @daniel-hutao ，I was thinking, it seems that the `kubeprometheus` plugin can also be turned into a generic helm plugin.

[2022-05-03 09:08] hxcGit opened #440 "Proposal: Update the welcome message of dtm cli-tool"
## Description
`Devstream` is a very interesting program, I just followed it and learned about it through quick start. Could we set the welcome message "DEVSTREAM" to the same height?
## Describe the Proposal
I guess the goal of the original design was to highlight the letters `D` and `S`. But in this case, all the letters are capitalized, could we adjust all the letters to the same height.

I hav

[2022-05-03 09:12] daniel-hutao commented on #440
@IronCore864 Please take a look at this proposal.

[2022-05-05 03:18] IronCore864 commented on #436
https://github.com/devstream-io/devstream/pull/441 solved this issue.

[2022-05-05 03:18] #436 closed

[2022-05-05 23:15] daniel-hutao opened #443 "🍀 `Proposal`: new command: `dtm develop validate-plugin --all`"
## Description

### Background

DevStream CLI `dtm` has a developer command `dtm develop create-plugin` to help contributors generate boilerplate code for a new plugin.

Usage: `dtm develop create-plugin --name=xxx`.

Then we added another command (thanks to @summingyu) `dtm develop validate-plugin` to further help developers to "validate" the code they wrote. For example, this command will valida

[2022-05-06 07:20] hxcGit commented on #443
I wanna try

[2022-05-06 08:52] daniel-hutao commented on #443
/assign @hxcGit

[2022-05-06 08:56] daniel-hutao commented on #443
Happy coding with your first pr! Feel free to call me anytime if you need any help. @hxcGit

[2022-05-06 14:37] prodanlabs opened #447 "🍀 `Proposal`: Add shell generic plugin"
## Description

Current ，the  scenarios where we use `shell-generic` are:

*  As the first `tools` of `dtm apply`, `shell-generic` do some preparatory work;
*   As the last `tools` of `dtm delete`, `shell-generic` does some cleaning work;
*  When there are multiple `tools`, the latter `tools` need to wait for the previous `tools` to be ready, `shell-generic` can wait for the ready, or  health chec

[2022-05-07 02:55] IronCore864 commented on #440
@hxcGit we tried to avoid using all caps because it would feel like yelling.

We also considered using "DevStream" (a mix of upper and lower case) but smaller characters don't look so nice as ASCII art.

That's why we used the current form: it doesn't look as "yelling" as all caps, and the smaller characters look nicer than what lower case characters would look like.

As long as we don't use ALL C

[2022-05-07 03:12] IronCore864 commented on #447
@prodanlabs thanks for this great idea. I have some concerns, though. Let me see if I can make it clear.

## Idempotency, DevOps Toolchain as Code

With DevStream, we try to achieve "idempotency," and we will try to do "DevOps Toolchain as Code." This means that if we apply for a second time, nothing should change if the resource is the same as the state / the resource didn't drift.

## State/Reso

[2022-05-07 03:38] hxcGit commented on #440
Got it. I'll think about it later.

[2022-05-07 03:38] #440 closed

[2022-05-07 06:56] hxcGit commented on #443
I have a problem here. In dtm cli, `develop` act as a sub-command and `valicate-plugin` act as a argument. I'am not clear whether we can add a flag to arguments. If we add `--all` flag to `develop` command, then `create-plugin` will also have this flag. Does this make sense?
@daniel-hutao @summingyu

[2022-05-08 14:00] daniel-hutao commented on #443
@hxcGit First of all, sorry for not replying to your comment in time, I've been a little busy lately with too much chores in my hands. Anyway I am so sorry about it.

You are very thoughtful, the behavior you mentioned is really not the best practice. Both `validate-plugin` and `create-plugin` should be sub-commands.

Although not it is currently functional, but it is indeed not optimal. And other

[2022-05-08 14:31] hxcGit commented on #443
@daniel-hutao  Thank you for your reply! I am more than happy to address the issue. I will do my best to complete this refactoring with your help!

[2022-05-08 14:48] daniel-hutao commented on #443
@hxcGit The validation rules need some improvement. So let's wait for @summingyu do some work about it. See #453 for more info.

[2022-05-09 03:27] #427 closed

[2022-05-09 03:28] #424 closed

[2022-05-09 03:35] daniel-hutao opened #454 "Proposal: `dtm develop create-plugin` enhancement"
## Description

We can now use the `dtm develop create-plugin --name=foo` command to create a scaffolding for a new plugin. (internal/pkg/develop)

But there are still many points to be optimized. For example, when the plugin name is `helm-generic`, a `helm-generic` directory will be created under `internal/pkg/`, and the corresponding package name is also `helm-generic`. In fact, we hope that the

[2022-05-09 13:46] daniel-hutao commented on #447
@prodanlabs If the preparatory work and cleaning work is needed with `dtm scenarios`, maybe we can add this logic to `dtm core` instead of plugin.

Could you please give me some practical examples like when we need to perform some actions after the `apply` of all the plugins? Like "some notifications"? And what are the possible preparatory work?

If the demand does exist, perhaps we can further th

[2022-05-10 07:49] lyleshaw opened #462 "Proposal: `dtm list` enhancement"
## Description

We can now use the `dtm list plugins` command to list all the plugins. But if we can filter the plugins by regex is great.

## Has the Feature been Requested Before?

issue: #384

## Additional Context

If we can use `dtm list plugins --filter {regex}` command to filter plugins will be better.

[2022-05-11 01:14] #462 closed

[2022-05-11 01:52] daniel-hutao opened #465 "Proposal: `dtm list` filter flag enhancement"
## Description

We can now use `dtm list plugins --filter {regex}` to filter the list of plugins. Thanks for @lyleshaw #462 #463

But `dtm list plugins --filter=".repo"` -> `github-repo-scaffolding-golang` is still a bit complicated. If I don't understand regex, then I don't understand what "." means here.

What if `dtm` be smarter like:

- input `--filter="repo"` -> render to `--filter=".repo."`

[2022-05-11 01:59] #454 closed

[2022-05-11 03:40] aeinrw opened #466 "💣 `Bug`: the process will crash when config file is not correct"
## Describe the Bug

https://github.com/devstream-io/devstream/blob/7e1c9a6a269ae76977f2ab34bf86d871174db3cb/internal/pkg/configloader/validation.go#L78-L98

The process will panic when `c.State` is nil because of nil pointer reference in `c.State.Options`.

By the way, how to write a config file in v.0.5.0?

[2022-05-11 04:31] daniel-hutao commented on #466
Yeah, it should be:

[code]

Would please summit a pr to fix it? @aeinrw

---

The config example can be seen here: `examples/quickstart.yaml` in release-0.5 branch. We'll merge it to main today.

[2022-05-11 04:35] daniel-hutao commented on #466
#467

[2022-05-11 04:49] daniel-hutao opened #468 "Proposal: command `dtm show config` with no flag to print main config sample"
## Description

We can now use the command `dtm show config --plugin=A-PLUGIN-NAME` print a sample config with one plugin/tool. But how to write the main config file: `config.yaml`?

## Design

- `dtm show config` print the text like below:

\# config.yaml sample:
[code]

\# tools.yaml sample:
[code]

\# variables.yaml sample:
[code]

@IronCore864 Are there some suggestions?

[2022-05-11 04:53] daniel-hutao commented on #466
#468

[2022-05-11 04:58] aeinrw commented on #468
I'd like to try.

[2022-05-11 16:10] wzymumon commented on #465
I wanna try

[2022-05-11 16:16] daniel-hutao commented on #465
Cool, go ahead and happy coding!

/assign @wzymumon

[2022-05-12 04:02] daniel-hutao commented on #465
![image](https://user-images.githubusercontent.com/18692628/167989600-b45127d0-60b5-4f7e-a8db-ec563bc8ec2b.png)

/close

[2022-05-12 04:02] #465 closed

[2022-05-12 09:17] wzymumon commented on #429
i wanna try

[2022-05-12 17:12] aFlyBird0 opened #478 "Proposal: refactor validtors of cobra commond args"
## Description

To make validators more elegant:
1. I want to separate args validators and important business code.
2. I want to reduce duplicate code of validators.

## Describe the Proposal

1. For code separate
take `show` cmd for example:
[code]
I will delete code like `if err:= validate...Show(args); err!=nil{log.Fatal(err)` in all commonds.

**New code will be like:**
[code]

2. For duplicat

[2022-05-12 17:39] aFlyBird0 commented on #478
/assign

[2022-05-13 01:10] daniel-hutao commented on #478
`/cmd/devstream/validator/validator.go` looks better. Because maybe we'll add many validators in some separated go file under the `validator dir`.

[2022-05-13 01:15] IronCore864 commented on #478
Hi @aFlyBird0, thanks for your enthusiastic contribution!

I have read your PR already; sorry for the late reply. I'll reply directly to the issue instead of in the PR.

We follow the [standard go project layout](https://github.com/golang-standards/project-layout), and according to those conventions, the [cmd](https://docs.devstream.io/en/latest/contributing/project-layout/#cmd) folder shouldn't c

[2022-05-13 01:21] daniel-hutao commented on #478
![](https://github.com/devstream-io/devstream/raw/main/docs/images/wechat-group-qr-code.jpg)

@aFlyBird0

[2022-05-13 01:31] daniel-hutao commented on #478
@IronCore864 @aFlyBird0

The validator is a kind of entry logic. So it is more suitable under `cmd`. For example, k8s does this:

![RUq0Rl59Vl](https://user-images.githubusercontent.com/18692628/168193422-0926ead5-686e-4c20-8ca8-d516acf12788.jpg)

[2022-05-13 02:09] aFlyBird0 commented on #478
Thank you both for your advice. @daniel-hutao @IronCore864 I have finished coding

[2022-05-13 02:17] #478 closed

[2022-05-13 02:18] IronCore864 commented on #466
@lfbdev please double check if your PR from yesterday has already fixed this.

[2022-05-13 02:22] lfbdev commented on #466
It has been resolved, see: https://github.com/devstream-io/devstream/pull/473

[2022-05-13 03:45] #468 closed

[2022-05-13 03:46] #429 closed

[2022-05-13 04:49] iyear opened #482 "🍀 `Proposal`: Basic validation for `command` field"
## Description
I saw some TODOs left in plugin `githubactions/golang/jobs.go`. `TODO(daniel-hutao): what should we validate here?`

As an example, for both `Build` and `Test` struct, there is a user-defined `command` field. These commands are only likely to find errors when they are actually run, which is costly. I considered adding some **basic validation** to this field to prevent low-level erro

[2022-05-13 05:02] iyear commented on #482
I'm not sure if `flag` validation are needed, but from my understanding and the docs, we can add `flag` validation to `command` field to increase the constraint

[2022-05-14 11:00] algobot76 opened #485 "🍀 `Proposal`: S3 Backend"
# Proposal: S3 Backend

## Description

Implement an S3 backend so that we can store the state file in S3.

## Assumptions

- Use `aws-sdk-go-v2` for interactions with AWS apis.
- Credentials stored in `~/.aws/credentials
- Use mocks for unit testing.

## Design

### S3Backend

[code]

[code]

[code]

[code]

### S3File

[code]

[code]

[code]

[code]

## Has the Feature been Requested Before?

#3

[2022-05-15 04:40] daniel-hutao commented on #482
Hi @iyear, thank you for your creative proposal!

Please take a look at #478 for the logic related to `validation`, and then maybe you will have some new ideas. Then we can further discuss how to improve the "robustness" of `dtm`

[2022-05-15 04:54] iyear commented on #482
Perhaps the two validation types are not the same, but of course they can both be grouped in a `validator` package. aFlyBird is proposing a validation of `os.Args`, while I want to validate the `command` field. There should be a difference between them.

I have written the underlying code.If there are more validators in the future, we can consider the design of https://github.com/go-playground/val

[2022-05-16 01:14] daniel-hutao commented on #478
closed by #479

[2022-05-17 01:23] daniel-hutao commented on #482
Hello @iyear, thank you for the detailed design. I'm so sorry for the delay replying.

Here are a few questions I want to discuss with you.

One is that if we verify the entire command, how should the rules be formulated? We already have a lot of commands, and there will definitely be many new commands in the future, the formulation of verification rules will be a point that needs to be carefully

[2022-05-17 02:14] iyear commented on #482
Thank you for your reply!

Maybe I'm misunderstanding the meaning of this field?

My understanding is that `Build.Command` and `Test.Command` will be rendered in the template as `job.run`. Its role is to run the user-defined command line.
I'm currently only thinking of doing basic syntax validation. I'm not sure if there should be restrictions on the specific content.

Of course I would then need

[2022-05-17 05:01] daniel-hutao commented on #482
@iyear `Build.Command` is used in GitHub Actions workflows. So we won't know users how to define it.

![image](https://user-images.githubusercontent.com/18692628/168732764-dfc67929-b6a0-4a81-a174-5934998499c0.png)

[2022-05-17 05:11] iyear commented on #482
So the `Command` can not be a command line? Sorry about that, that was my mistake:(. I will think if there is another validation.

[2022-05-17 07:27] daniel-hutao commented on #273
/close

[2022-05-17 07:27] #273 closed

[2022-05-17 08:37] hxcGit opened #493 "🍀`Proposal`: refactor developAction to sub-command in `dtm develop`"
### What would you like to added? Why is this needed?

### Description
Now, `create-plugin` and `validate-plugin` in `dtm develop` act as Action. I think subcommand is more comfortable for them. But I'm not sure if there are other factors that should be considered here. If not, I'd be glad to submit a PR to refactor it.

[2022-05-17 09:37] daniel-hutao commented on #493
/assign @hxcGit

Happy coding! Your proposal is great!

[2022-05-17 10:49] daniel-hutao commented on #482
/assign @iyear Happy coding！

[2022-05-17 11:02] iyear commented on #482
**Summary:** This proposal is a basic syntax check for the `command` field of the plugin configuration file, reducing low-level errors in user input, and the underlying functions are easy to reuse.

[2022-05-17 13:23] iyear opened #496 ":open_book: `Docs`: Update Chinese README"
### What should be changed?

The current Chinese README differs greatly from the English README content, and I think it is necessary to update the Chinese README to facilitate Chinese people to read it. I will work for it.

I would probably try a paraphrase rather than a direct translation. I don't know if this is as expected.

There's a lot to translate, and I'll probably spend a few days gradual

[2022-05-17 13:29] iyear commented on #496
For some terms, do I need to add the full name in Chinese?

For example: SDLC (软件开发生命周期)

[2022-05-17 14:10] daniel-hutao commented on #496
/assign @iyear

Great proposal! Go ahead and happy changing!

[2022-05-17 14:42] daniel-hutao commented on #485
/close #378

[2022-05-17 16:55] nikitakoselev opened #501 ":open_book: `Docs`: CONTRIBUTING Doc Improvement"
### What should be changed?

https://github.com/devstream-io/devstream/blob/main/CONTRIBUTING.md has a wrong link to the Development Workflow: https://www.devstream.io/docs/development-workflow.

It must be something else, probably https://docs.devstream.io/en/latest/contributing/development-workflow/

![image](https://user-images.githubusercontent.com/6383738/168868670-94959336-166b-4d1d-afee-bc2

[2022-05-17 16:57] aFlyBird0 opened #502 ":bomb: `Bug`: Maybe there are print errors in `/cmd/plugin`"
### What happened?

I'm not sure if the variables at the bottom of each file in `/cmd/plugin` are in the wrong order.

eg:
[code]
I think it should be `DevStreamPlugin, NAME`.

Maybe I was wrong and I would be grateful if you tell me how it works.

### How to reproduce?

Just run `main()` func of any go file in `/cmd/pulgin` dir.

### DevStream version (to find out the version run: dtm version)

l

[2022-05-17 23:51] daniel-hutao commented on #501
@nikitakoselev Thanks for the bug report.
#499 has fixed it.

[2022-05-18 02:07] IronCore864 commented on #485
Related to https://github.com/devstream-io/devstream/issues/378.

[2022-05-18 02:09] IronCore864 commented on #377
Implemented in https://github.com/devstream-io/devstream/pull/396

[2022-05-18 02:09] #377 closed

[2022-05-18 02:16] IronCore864 commented on #501
Fixed in https://github.com/devstream-io/devstream/pull/499

[2022-05-18 02:16] #501 closed

[2022-05-18 02:16] IronCore864 commented on #501
@nikitakoselev thanks very much for your attention to detail!

[2022-05-18 02:20] IronCore864 commented on #502
@aFlyBird0 thanks for your attention to detail.

In fact, each go plugin shouldn't have a main() func at all; we only have it there to shut the IDE warnings up, LOL.

Would you care to contribute a PR fixing all of those occurrences?

Thanks!

[2022-05-18 02:30] IronCore864 commented on #466
@aeinrw thanks for finding out about this critical issue.

I knew that you were trying to provide a fix for it, but due to internal miscommunication, this bug was also fixed by someone else here: https://github.com/devstream-io/devstream/pull/473.

Sorry again. This should've been your contribution. But hey, don't get disappointed. See you in the next PR :)

[2022-05-18 02:30] #466 closed

[2022-05-18 02:34] aFlyBird0 commented on #502
Thank you! I'm willing to do that!

(Yep, go plugin do not need a main func. So I gotconfused. Thanks for your reply.)

[2022-05-18 05:14] iyear commented on #496
#498

[2022-05-18 05:14] #496 closed

[2022-05-18 06:05] daniel-hutao opened #504 ":four_leaf_clover: `Proposal`: Plugin `devlake` Enhancement (sub-task with #513)"
### What would you like to added? Why is this needed?

See #513 for the details

[2022-05-18 06:17] daniel-hutao opened #505 ":four_leaf_clover: `Proposal`: auto-release script improvement"
### What would you like to added? Why is this needed?

We have a release script: `build/package/auto-release-darwin-arm64.sh`, it starts with:

[code]

So we need to change this `tag` variable every time when we release a new version, which is obviously inelegant. So, why not set this `tag` with a parameter? Something like

[code]

---

After the script improvement, please move the `auto-release-d

[2022-05-18 06:27] daniel-hutao opened #506 ":four_leaf_clover: `Proposal`: Relocate the `commitment.config.js` File to `hack/` Directory"
## What would you like to add? Why is this needed?

![image](https://user-images.githubusercontent.com/18692628/168971755-dfeb0acf-767d-4cc5-9809-ede145989a18.png)

### Background

`commitlint.config.js` is the configuration for linting git commit messages. Currently, it's located under [build](https://github.com/devstream-io/devstream/tree/main/build)/[ci](https://github.com/devstream-io/devstrea

[2022-05-18 06:33] daniel-hutao opened #507 ":four_leaf_clover: `Proposal`: Update the `main.go` Template File According to #503"
## What would you like to add? Why is this needed?

See #503 for the details. It changed the `cmd/plugin/xxx/main.go`, So the `dtm develop create-plugin` diverged from the current codebase.

For more details, please reach out to @daniel-hutao.

![image](https://user-images.githubusercontent.com/18692628/168972892-ff4bfd5e-00c5-48cc-a185-cdb5bcfba84c.png)

[2022-05-18 06:55] aFlyBird0 commented on #507
Template file has been updated in #503 . 😄

Instead, maybe it is also good add some description of how the plugin is loaded for the beginners.

e.g. The name of `DevStreamPlugin` is mandatody, so, why is it mandatory and where the code forces a dependency on this variable name?  It will be useful to beginners to understand how pulgins work.

I know what the answer is, and I want to give this pr op

[2022-05-18 07:09] daniel-hutao commented on #507
cooool @aFlyBird0
I thought the template file was left out, didn't expect you are so "attention to details"

[2022-05-18 07:10] daniel-hutao commented on #507
About the docs or some comments, I think it's better to let you do it. Would you like to?

[2022-05-18 07:12] aFlyBird0 commented on #507
lol, I just use "global replace".

Then I found template files and `develop` commond. Code tracing is interesting.

[2022-05-18 07:16] #502 closed

[2022-05-18 07:32] daniel-hutao commented on #506
/assign warm water

[2022-05-18 07:41] daniel-hutao opened #508 ":four_leaf_clover: `Proposal`: New Plugin Support: zentao(禅道)"
### What would you like to add? Why is this needed?

Some tips:

- zentao website: https://www.zentao.net
- support the deployment(crate/update/delete/...) with zentao(open source version)

Please give a design before start coding.

/cc @devstream-io/pmc

[2022-05-18 07:46] daniel-hutao opened #509 ":four_leaf_clover: `Proposal`: New Plugin Development: `GitLab CE`"
### What would you like to add? Why is this needed?

- To support local deployment of `gitlab-ce`
- Helm chart is preferred
- Please give a simple design before you start coding

/cc @devstream-io/pmc

[2022-05-18 07:52] iyear commented on #509
Looks like a great idea, I'd like to work for it.

[2022-05-18 07:56] hxcGit commented on #508
Wanna try.

[2022-05-18 08:01] daniel-hutao commented on #508
/assign @hxcGit Happy coding!
Call me any time if you need.

[2022-05-18 08:12] aFlyBird0 opened #510 ":open_book: `Docs`: Add doc for `develop` commond"
### What should be changed?

Develop is used to develop a new plugin. However, it seems that there is no doc on the `develop` command

[2022-05-18 08:13] daniel-hutao commented on #510
![image](https://user-images.githubusercontent.com/18692628/168991036-4e311c9f-2191-4162-8632-510db398376c.png)

Right, the docs with `develop` are missing.

[2022-05-18 08:15] iyear opened #511 ":four_leaf_clover: `Proposal`: Using `go-playground/validator` to Validate Plugin Config Fields"
### What would you like to add? Why is this needed?

Currently for each field we manually validate, I think we can import a new dependency, https://github.com/go-playground/validator

we can just write tag in the fields of the struct, and the validation I proposed in #482 can be registered directly as tag to use.

[2022-05-18 08:17] IronCore864 commented on #510
We have two blogs on this topic:
- https://blog.devstream.io/posts/creating-a-dtm-plugin-for-anything/
- https://blog.devstream.io/posts/%E7%BB%99dtm%E5%BC%80%E5%8F%91%E4%B8%80%E4%B8%AA%E6%8F%92%E4%BB%B6/

Please use these two as a reference. Also, the command has been updated with more features since the publication of those blogs; so you can enrich the content accordingly. @aFlyBird0

[2022-05-18 08:17] daniel-hutao commented on #510
This is a challenge for me. Because English is not my good suit. I wonder if you are interested in adding the missing document?

/cc @IronCore864

[2022-05-18 08:25] aFlyBird0 commented on #510
I will try my best to finish it, even though it is usually difficult to write documentation.

And it is related to the issue #507 about how how plugin works in devstream.

I will try to finish them together.

[2022-05-18 08:36] hxcGit commented on #493
I have a problem now. That is the nested sub-command in cobra won't return `unknown command` but just print usage message when the typed  sub-command is wrong. Same problem can be found [here](https://github.com/spf13/cobra/issues/706).

I came up with some solutions.
1. Leave it alone.
2. Use cobra.NoArgs to return an error. https://github.com/spf13/cobra/issues/706#issuecomment-488340260
3. Rewr

[2022-05-18 09:30] IronCore864 opened #513 ":four_leaf_clover: `Proposal`: Plugins Enhancement"
### What would you like to add? Why is this needed?

### Background

This issue is used as a "series" or "epic", which is a summary, not specific to a certain plugin.

At the moment (May 18th, 2022) we've got 18 plugins. Most plugins "work" as expected, but there is still space for improvement. For example, the following aspects could be improved:

- documentation: more background for the plugin,

[2022-05-18 09:37] daniel-hutao opened #514 ":four_leaf_clover: `Proposal`: Plugin `argocd` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:39] daniel-hutao opened #515 ":four_leaf_clover: `Proposal`: Plugin `argocdapp` Enhancement (sub-task of #513)"
## What would you like to add? Why is this needed?

### Background

See #513 for more details.

[2022-05-18 09:48] daniel-hutao opened #516 ":four_leaf_clover: `Proposal`: Plugin `github-repo-scaffolding-golang` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:48] daniel-hutao opened #517 ":four_leaf_clover: `Proposal`: Plugin `githubactions-golang` Enhancement (sub-task with #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:49] daniel-hutao opened #518 ":four_leaf_clover: `Proposal`: Plugin `githubactions-nodejs` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:49] daniel-hutao opened #519 ":four_leaf_clover: `Proposal`: Plugin `githubactions-python` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:50] daniel-hutao opened #520 ":four_leaf_clover: `Proposal`: Plugin `gitlab-repo-scaffolding-golang` Enhancement (sub-task with #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:50] daniel-hutao opened #521 ":four_leaf_clover: `Proposal`: Plugin `gitlabci-generic` Enhancement (sub-task with #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:51] daniel-hutao opened #522 ":four_leaf_clover: `Proposal`: Plugin `gitlabci-golang` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:51] daniel-hutao opened #523 ":four_leaf_clover: `Proposal`: Plugin `hashicorp-vault` Enhancement (sub-task with #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:52] daniel-hutao opened #524 ":four_leaf_clover: `Proposal`: Plugin `jenkins` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

1. support test mod and prod mode meanwhile.
* test: auto-create PV named `jenkins-pv` and use host path
* prod: user can customize `storageClass`
2. use NodePort to expose service.
3. support `nodePort` config customize.
4. show Jenkins URL and tell user how to get the password of user admin
5. auto install plugins:
* GitHub Pull Request Builde

[2022-05-18 09:52] daniel-hutao opened #525 ":four_leaf_clover: `Proposal`: Plugin `jira-github-integ` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:52] daniel-hutao opened #526 ":four_leaf_clover: `Proposal`: Plugin `kube-prometheus` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:53] daniel-hutao opened #527 ":four_leaf_clover: `Proposal`: Plugin `openldap` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:54] daniel-hutao opened #528 ":four_leaf_clover: `Proposal`: Plugin `trello` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:54] daniel-hutao opened #529 ":four_leaf_clover: `Proposal`: Plugin `trello-github-integ` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 09:55] daniel-hutao commented on #504
@warren830 Would you like to have a try?

[2022-05-18 11:52] daniel-hutao commented on #519
@lyleshaw Go ahead and happy coding!
@IronCore864 is very good at py, on the contrary I am not very good at it. So he will communicate with you more about this issue later.

/assign @lyleshaw

[2022-05-18 11:55] daniel-hutao commented on #511
@iyear Cooooooool proposal! I agree to use this tool!

[2022-05-18 12:08] daniel-hutao commented on #493
@hxcGit I think it's ok to leave it alone. It's not a big thing.

![image](https://user-images.githubusercontent.com/18692628/169034762-fbc3a45a-0c12-4855-92f7-031532b84295.png)

The inconsistency between command and subcommand is acceptable for me, because both are readable and useful.

[2022-05-18 12:12] daniel-hutao opened #530 ":bomb: `Bug`: The Command `dtm apply xxx` Got a Panic Error"
### What happened?

When I execute `dtm apply xxx` at a directory without `config.yaml`, I got the logs like below:

[code]

dtm should tell me that I need a config file instead of raising a "panic: runtime error: invalid memory address or nil pointer dereference"

### How to reproduce?

[code]

### DevStream version (to find out the version run: dtm version)

v0.5.0

[2022-05-18 12:59] hxcGit commented on #493
The inconsistency is not in the suggestion message. The problem is shown in the following figure
![image](https://user-images.githubusercontent.com/60642406/169044270-8fcc03e8-64cd-4513-81c9-f50ba2b5035c.png)

[2022-05-18 13:37] daniel-hutao opened #531 ":four_leaf_clover: `Proposal`: Plugin `helm-generic` Enhancement (sub-task of #513)"
### What would you like to add? Why is this needed?

See #513 for the details

[2022-05-18 19:01] shubham-cmyk commented on #530
Hi I have run the same command dtm apply without a config file but not facing the same bug.
![Screenshot from 2022-05-19 00-06-40](https://user-images.githubusercontent.com/69793468/169135630-6af0cf8f-92b6-4421-b61e-fc4cd64181e6.png)

[2022-05-18 22:13] shubham-cmyk commented on #530
Can i get more details about it ??

[2022-05-18 22:23] shubham-cmyk opened #537 ":four_leaf_clover: `Proposal`: Need a review on cmd_apply.go"
###  Need a review

fmt.Errrof   & log.Errorf  is used in line 21 and 26 but NO string argument is passed.

![Screenshot from 2022-05-19 03-51-14](https://user-images.githubusercontent.com/69793468/169165348-4a9f555a-f670-4230-9b13-09c3b834eb9a.png)

[2022-05-19 02:44] daniel-hutao commented on #530
@shubham-cmyk I'm so sorry, this panic raised in version v0.5.0 and I just found it has been fixed at main branch.

[2022-05-19 02:44] #530 closed

[2022-05-19 02:47] SongDunYu commented on #506
I want to claim this issue

[2022-05-19 02:47] daniel-hutao commented on #537
@shubham-cmyk Thanks for your attention-to-detail. The `log.Errorf()` should be `log.Error()` here. and `fmt.Errorf()` is ok because there haven't a `Error()` method in the `fmt` package.

[2022-05-19 02:51] daniel-hutao commented on #506
/assign @SongDunYu

[2022-05-19 03:47] shubham-cmyk commented on #537
@daniel-hutao I have updated cmd_apply.go #539 Please go through it.
Also it's my first commit, I am excited to do more.

[2022-05-19 04:17] iyear opened #541 ":four_leaf_clover: `Proposal`: Maybe We Need `.gitattributes`"
### What would you like to add? Why is this needed?

#533

I'm using windows and after running `make fmt` in `wsl` all the CRLFs are replaced with LFs, resulting in all the files becoming changed.

Do we need a `.gitattributes` to unify the different platforms?

[2022-05-19 04:21] shubham-cmyk commented on #541
Are you able to buid in WSL ? few days back I was also on WSL but the make build was showing some errors

[2022-05-19 04:25] iyear commented on #541
@shubham-cmyk I haven't use `make build`, I just found this after using `make fmt`

[2022-05-19 04:28] #507 closed

[2022-05-19 04:29] #510 closed

[2022-05-19 05:09] daniel-hutao commented on #541
@iyear are you execute the `make fmt` in `Windows Subsystem for Linux`? I only have an arm64 mac and can't reproduce this problem. But it sounds a good idea to add a `.gitattributes`

@IronCore864 What's your opinion?

[2022-05-19 05:26] yclchuxue commented on #505
I want to do this.

[2022-05-19 06:14] #506 closed

[2022-05-19 06:14] daniel-hutao commented on #505
@yclchuxue Go ahead and happy coding!

/assign @yclchuxue

[2022-05-19 06:16] iyear commented on #541
@daniel-hutao Yes, I run `make fmt` in `WSL`

[2022-05-19 06:41] #537 closed

[2022-05-19 07:28] aFlyBird0 opened #544 ":bomb: `Bug`: configloader may cause panic"
### What happened?

![ZE7IJ38R)7Q23R1J8~`G ER](https://user-images.githubusercontent.com/36830265/169236203-c876a61f-589c-45e6-ae8a-dcc7ef384980.png)

Code is [here](https://github.com/devstream-io/devstream/blob/dcd34a4f9d5512bac5f1d4dd1da08e57d0242954/internal/pkg/configloader/config.go#L98)

## How to fix

I want to make `LoadToolConf` return `(*Config, error)`

### How to reproduce?

Please se

[2022-05-19 08:13] algobot76 commented on #544
An alternative way to fix this issue is to call `os.Exit(1)` inside the `LoadToolConf` method if the `err !=nil`. There is no need to return `*Config` if the program can't read the cofig file.

[2022-05-19 08:22] algobot76 commented on #541
Related issue: https://github.com/golang/go/issues/16355

[2022-05-19 08:26] aFlyBird0 commented on #544
Yes, I agree with you, to some extent this is the "let it panic" philosophy. As well we can use `log.Fatal(err)` instead of `os.Exit(1)`.

But on the other hand, it seems that other functions under the same package don't exit when the error is not loaded. For example `LoadConf()` in `config.go`.

[2022-05-19 08:26] daniel-hutao commented on #544
@aFlyBird0 Yep, it's a bug. I agree with @algobot76, the easiest way to handle this bug is to:

[code]

Alternative way:

[code]

[2022-05-19 08:27] daniel-hutao commented on #544
You can choose whichever way you think is the most elegant to fix this bug at your own discretion @aFlyBird0

[2022-05-19 08:45] aFlyBird0 commented on #544
Thank for you two. @algobot76 @daniel-hutao
I still decided to stay consistent with the rest of the code and use the classic Go language pattern of `if _, err :=`.  And `/cmd` already does a uniform exit. At the same time I think having too many `Exit`s in relatively low-level functions may cause the program to get too messy.

We can have a serious discussion later if needed and then bulk change a

[2022-05-19 10:09] iyear commented on #541
@algobot76 Yes, it solves the problem, but it requires every windows contributor to set this config on every machine. So the `.gitattributes` addition is still necessary.

[2022-05-19 10:10] #511 closed

[2022-05-19 10:40] #544 closed

[2022-05-19 10:40] #378 closed

[2022-05-19 10:40] #485 closed

[2022-05-19 13:11] shubham-cmyk commented on #513
_blog posts (can be either in English or Chinese): how to use a certain plugin of DevStream to manage a certain DevOps tool_

@IronCore864 Would the blogs be published on the devstream.io ?

[2022-05-19 14:21] daniel-hutao commented on #541
@algobot76 Thank you for the reply!

@iyear I agree with you. Although we should set the `core.autocrlf` locally, but maybe some  users won't know what happened and what can they do. So the `.gitattributes` will be a friendly configuration.

Would you please adding this config file and do some test with it?

[2022-05-19 14:25] daniel-hutao commented on #493
/close #512

[2022-05-19 14:25] #493 closed

[2022-05-19 14:28] daniel-hutao commented on #443
I've test the `--all` flag and it does well.

- `./dtm develop validate-plugin -a ` or
- `./dtm develop validate-plugin --all`

[code]

[2022-05-19 14:28] #443 closed

[2022-05-19 14:31] daniel-hutao commented on #379
/close #444

[2022-05-19 14:31] #379 closed

[2022-05-19 14:32] daniel-hutao commented on #23
/close stale

[2022-05-19 14:32] #23 closed

[2022-05-19 14:33] daniel-hutao commented on #169
/close stale

[2022-05-19 14:33] #169 closed

[2022-05-19 14:43] algobot76 commented on #541
I guess you could use a simple bash script to test if the line ending is what you expected after running `make fmt`. See https://stackoverflow.com/a/3570161

[2022-05-19 14:46] iyear commented on #541
I may know what to do now, thanks for the reply!

[2022-05-20 02:52] #541 closed

[2022-05-20 02:54] daniel-hutao commented on #482
/close #533

[2022-05-20 02:54] #482 closed

[2022-05-20 03:11] daniel-hutao opened #556 ":four_leaf_clover: `Proposal`: `dtm show config` Enhancement to Support Print Core Config"
### What would you like to add? Why is this needed?

We have a command to print the config with any specified plugin:

[code]

But how to tell users that how to write `core config`? Maybe we can use the command

[code]

without `--plugin` to print the `core config`:

[code]

And tell users: If you want to print the config template with a specified plugin, please use the command `dtm show config --

[2022-05-20 03:17] JohnNiang commented on #556
/assign

[2022-05-20 03:21] daniel-hutao commented on #556
/assign @JohnNiang Happy coding!

[2022-05-20 03:42] IronCore864 opened #557 ":four_leaf_clover: `Proposal`: `dtm show status` Improvement"
## What would you like to add? Why is this needed?

### Background

Currently, `dtm` supports a `show status` subcommand:

[code]

As we can see, if we run `dtm show status -p=A-PLUGIN-NAME -n=A-PLUGIN-INSTANCE-NAME`, the "status" of that plugin and that instance will be printed.

### Improvement 1

We have changed our config file. Now the parameters for this command should be "plugin" and "instan

[2022-05-20 03:46] 24sama commented on #557
/assign

[2022-05-20 03:48] IronCore864 opened #558 ":four_leaf_clover: `Proposal`: Use Validator for Config Validation"
## What would you like to add? Why is this needed?

### Background

Our community member @iyear introduced https://github.com/go-playground/validator into the project in this issue https://github.com/devstream-io/devstream/issues/511 (solved by this PR https://github.com/devstream-io/devstream/pull/533). This has greatly improved our plugin options validation.

However, the `configloader` module s

[2022-05-20 03:48] 24sama commented on #557
Hi @IronCore864 @daniel-hutao
Please assign this issue to me, I can try to fix it.

[2022-05-20 04:09] iyear commented on #558
You may need to use rhese validations: https://github.com/go-playground/validator#other

[2022-05-20 04:09] IronCore864 commented on #519
# githubactions-python Plugin Improvements

## Config Improvement

The current config for this plugin is like the following:

[code]

It seems the `language.name` is redundant since this plugin will only handle GitHub actions workflows for Python. This can be removed.

## New Features

Refer to https://github.com/actions/setup-python and https://docs.github.com/en/actions/automating-builds-and-tes

[2022-05-20 04:25] IronCore864 opened #559 ":four_leaf_clover: `Proposal`: Some Commands Do Not Need the "-f" Parameter"
### What would you like to add? Why is this needed?

At the moment, we have a global parameter "-f" which is required for commands that need access to the config file.

But not all commands need it, for example:
- `dtm show`
- `dtm list`
- `dtm develop`
- etc.

But when we run:

[code]

The "-f" flag still shows up in the help for `dtm show` subcommand, even though `dtm show` won't need it.

We ca

[2022-05-20 04:29] daniel-hutao commented on #556
@JohnNiang I'm so sorry! This feature has been implemented by @aeinrw at #481

[2022-05-20 04:29] #556 closed

[2022-05-20 04:30] IronCore864 opened #560 ":four_leaf_clover: `Proposal`: Cloudflare IP List Monitor"
## What would you like to add? Why is this needed?

### Background

We use S3 to store published plugins from v0.6.0. And to speed things up, we have Cloudflare in front of the S3 bucket. The thing is, we grant access to S3 by IP addresses.

Cloudflare publishes its IP range here: https://www.cloudflare.com/ips/. It's also available from a text file: https://www.cloudflare.com/ips-v4.

If Cloudfla

[2022-05-20 04:31] daniel-hutao commented on #557
/assign @24sama Happy coding!

[2022-05-20 04:33] daniel-hutao commented on #558
@iyear Thank you for your helpful information! You must be the next community member this month!

[2022-05-20 05:42] daniel-hutao opened #563 ":bomb: `Bug`: Runtime Error: Nil Pointer Dereference with stateFile Validation Failed."
### What happened?

When I tested the gitops workflow after execute:

`./dtm init -f config-gitops.yaml `

Then I got the error below:

[code]

### How to reproduce?

**step 1:**

[code]

**step 2:**

[code]

### DevStream version (to find out the version run: dtm version)

latest

[2022-05-20 06:39] #563 closed

[2022-05-20 09:57] #557 closed

[2022-05-20 12:17] daniel-hutao opened #566 ":bomb: `Bug`: If Tool a Depends on Tool b, When b Fails to Install, a Will Still be Tried to Install"
### What Happened?

If tool a depends on tool b, when b fails to install, a will still be tried to install.

[code]

### How to Reproduce?

ArgoCD fails to install, ArgoCD app will still be tried to install.

### Anything else

_No response_

### DevStream Version

latest

[2022-05-20 12:39] daniel-hutao opened #567 ":bomb: `Bug`: Error: "Apply failed => applications.argoproj.io "dtm-test-go" not found.""
### What Happened?

dtm apply with gitops workflow, I got the log like below:

[code]

Maybe it's not a bug, it's just a failure due to a network problem or a problem with my local environment. But this log is driving me crazy.

### How to Reproduce?

Just apply the config yaml under example/ dir of devstream repo.

### Anything else

N/A

### DevStream Version

latest

[2022-05-20 18:02] algobot76 commented on #567
![image](https://user-images.githubusercontent.com/20016835/169584458-e1a05a5b-4dca-49da-ac3c-d66a6c3fbb88.png)
![image](https://user-images.githubusercontent.com/20016835/169586664-bf975dd6-fa3d-4d19-83b1-7a29016318de.png)

I only took a glance at the source code. I guess the error occured in the `Read` method inside `internal/pkg/plugin/argocdapp/read.go`. Also, if you take a look at the timesta

[2022-05-21 05:30] lennyluosz opened #571 ":four_leaf_clover: `Proposal`: goimports installation could be optimized by adding a condition: if exsited, skip installation; if not existed, go on installing."
## What Would You Like to Add? Why is This Needed?
goimports installation could be optimized by adding a condition to decide whether to install or not

## Design
 During goimports installation, check existance,  if exsited, skip installation; if not existed, go on installing.

[2022-05-21 05:35] daniel-hutao commented on #571
/assign @lennyluosz
Happy coding！

[2022-05-21 06:14] yclchuxue commented on #559
I can do this

[2022-05-21 08:33] aFlyBird0 opened #574 ":bomb: `Bug`: CI failed in latest prs"
### What Happened?

![image](https://user-images.githubusercontent.com/36830265/169643229-2a1a0d62-27ac-44f2-aa80-934e5d78f0d3.png)
![image](https://user-images.githubusercontent.com/36830265/169643281-aee4bc20-e61b-4673-80ca-34632c9848e6.png)

### How to Reproduce?

see this [GitHub Action log](https://github.com/devstream-io/devstream/runs/6535038693?check_suite_focus=true) for more details.

##

[2022-05-21 09:39] aFlyBird0 commented on #574
These for errors were just logged by `log.Errof`

[2022-05-21 09:59] aFlyBird0 commented on #574
![image](https://user-images.githubusercontent.com/36830265/169646395-110339bd-13be-425a-aa2f-f1732d50d977.png)

[2022-05-21 10:41] aFlyBird0 commented on #574
I don't think this test error has anything to do with log. I comment all `log.Error` in my fork repo, but it still failed in the test.

(for repo ci report is [here](https://github.com/aFlyBird0/devstream/runs/6536381412?check_suite_focus=true))

Maybe It was caused by `TestPlanmanager` in `github.com/devstream-io/devstream/pkg/util/zip`. But I'm not familiar with this code.

![image](https://user

[2022-05-21 10:42] shubham-cmyk commented on #559
I would also like to give it a shot

[2022-05-21 11:27] aFlyBird0 commented on #566
/assign

[2022-05-21 11:49] hxcGit commented on #574
https://github.com/devstream-io/devstream/blob/ad784ee8ec5564bfda13999b31b2d371fd6b6d02/internal/pkg/pluginmanager/downloader_test.go#L11

[2022-05-21 11:50] daniel-hutao commented on #559
@yclchuxue It‘s a good first issue, let’s leave it to new contributor 😄

[2022-05-21 11:53] daniel-hutao commented on #559
Hi @shubham-cmyk, let’s leave this good first issue to the new contributor😁

[2022-05-21 15:49] shubham-cmyk commented on #559
@daniel-hutao but I have already solved it can you verify that #576
I have removed the flag -f from the global and made specifically to the apply.go

[2022-05-21 16:16] KeHaohaoke commented on #574
The last two mistakes in the four mistakes：

The 3rd error: Well, that's because we didn't deliver the files needed for this unit test to s3, our download directory. Later, this problem will be solved soon. We are about to upload the files needed for this unit test.

The 4th error: This is normal, and it passed the test. You can see pass, and you can see the comments in the code:

https://github.c

[2022-05-21 21:27] shubham-cmyk commented on #524
Wanna try.

[2022-05-22 01:53] daniel-hutao commented on #559
#576

@shubham-cmyk Please don't open a pr before claiming the relevant issue.

[2022-05-22 04:15] lennyluosz commented on #571
closed by  pull request:   https://github.com/devstream-io/devstream/pull/575

[2022-05-22 04:15] lennyluosz commented on #571
https://github.com/devstream-io/devstream/pull/575

[2022-05-22 04:16] #571 closed

[2022-05-22 06:25] daniel-hutao commented on #574
https://github.com/devstream-io/devstream/actions/runs/2364889030

/close

[2022-05-22 06:25] #574 closed

[2022-05-22 06:29] daniel-hutao commented on #566
@aFlyBird0 This function is very important and it is one of the core module, as far as possible to write some ut to cover this piece of logic.

Happy coding!

[2022-05-22 07:03] IronCore864 commented on #559
Note that "show status" might need the "-f" param. Please test it thoroughly before submitting. Thanks!

[2022-05-22 07:15] aFlyBird0 commented on #566
Thanks for the reminder, I'll try my best.

[2022-05-22 07:15] aFlyBird0 commented on #566
Thanks for the reminder, I'll try my best.

[2022-05-22 07:41] aFlyBird0 commented on #566
@daniel-hutao Can you post the complete configuration? Thank you!

[2022-05-22 08:32] aFlyBird0 opened #579 ":four_leaf_clover: `Proposal`: Enhancement: Parallel download plugins"
## What Would You Like to Add? Why is This Needed?

Nowadays the plugins are downloaded serially, we can use parallel download to speed up.

## Design

Analyze the dependency graph and download them in batches, downloading only the plugins with dependency entry of 0 in each batch.

( Once any plugin download fails, end the entire download process)

## Anything else

Warning: There are many problem

[2022-05-22 09:17] iyear commented on #579
Perhaps Docker's layer download manager and test code can be used for some reference. But Docker has to consider the parent-child relationship between layers, we'll obviously keep it simple.

Related Links:
https://github.com/moby/moby/blob/master/distribution/xfer/download.go
https://github.com/moby/moby/blob/master/distribution/xfer/download_test.go

[2022-05-22 11:56] #447 closed

[2022-05-22 12:45] prodanlabs opened #581 ":bomb: `Bug`: Plugin default configuration needs to be updated"
### What Happened?

When I use `dtm show config --plugin` config, missing `state` and `toolFile` cause failure

[code]

The default configuration under `internal/pkg/show/config/plugin` needs to be updated

### How to Reproduce?

_No response_

### Anything else

_No response_

### DevStream Version

v0.6.0

[2022-05-22 13:46] prodanlabs opened #582 ":four_leaf_clover: `Proposal`: Add a plugin to create a Jenkins pipeline"
## What Would You Like to Add? Why is This Needed?

## Design
[code]

[code]
![image](https://user-images.githubusercontent.com/28917392/169697386-c9a64237-41f2-49dd-980e-12d2d2ae874e.png)

![image](https://user-images.githubusercontent.com/28917392/169697537-35bbf227-55ab-4b0e-891f-c9057be4df98.png)

![image](https://user-images.githubusercontent.com/28917392/169697644-02f8d1ae-3378-4527-b9f1-e0a

[2022-05-23 01:26] aFlyBird0 commented on #579
Thanks so much, referencing other proven solutions is an easy and efficient way to go! I'll take a closer look this afternoon!

[2022-05-23 02:36] iyear commented on #560
This issue might be a `good first issue`, as the tool does not require going deep into the devstream to understand the details. **If someone wants to try it out they can give it a go first.**

**If the need is urgent at the moment, I can develop it.**

This should require a new repo to place the code.

My solution is outlined as follows:
- Use https://github.com/patrickmn/go-cache as a cache and a

[2022-05-23 03:16] Esonhugh opened #583 ":four_leaf_clover: `Proposal`: Change bad code implementation in exec"
If plugin dev trust framework func `ExecInSystem` will easily cause command injection even privilege escalation on Devs machine. Any params can be injected with evil command accidently.
[code]
But so far thankfully no component ,plugin or anything else depends on this function.

The fix or improvement may need more discussion. Anyway, we still need label it as insecure in document to notice the de

[2022-05-23 05:32] hxcGit opened #586 "Question: how to setup trello in devstream"
## Problem
When I want to setup a trello program by dtm, I encountered the following problems.
`2022-05-23 13:13:34 ✖ [ERROR]  Errors Map: key(trello/default-Create) -> value(HTTP request failure on https://api.trello.com/1/members/me/boards:
401: invalid key)`
![image](https://user-images.githubusercontent.com/60642406/169748986-ebab1e80-c2fb-45b8-b75a-a2e2b7538a92.png)

## How to reproduce it
##

[2022-05-23 06:20] linuxtmty opened #587 ":four_leaf_clover: `Proposal`: Can GOPATH not need to be set?"
Goimports often cannot be found, why not get the value of GOPATH directly in the Makefile, and let the user operate the environment variable。
It's a great experience to make a small change。
<img width="678" alt="image" src="https://user-images.githubusercontent.com/8682294/169755759-0e58a004-af24-4e83-b463-2ad7cbbfe521.png">
<img width="707" alt="image" src="https://user-images.githubusercontent.c

[2022-05-23 06:33] algobot76 commented on #583
Good point!. There is a security risk in this code snippet:
https://github.com/devstream-io/devstream/blob/ff3427bc2c0d634c86bf90951bc21e134ebb641a/pkg/util/kubectl/main.go#L23-L33

The `filename` should be validated using `os.Stat`. Otherwise, it could be anything, such as `"foo.yaml && echo "you got hacked!"`, which may lead to disastrous results!

[2022-05-23 07:07] algobot76 commented on #583
/assign

[2022-05-23 07:12] Esonhugh commented on #583
Well ..... `exec.Command` will treat the filename as a param of 'kubectl'.
if you add like `"foo.yaml && echo "you got hacked!"` will got error from shell like "file not found". It's secure but you still need care the bad filemame. Some guard code would be fine.Notice user this input problem.

[2022-05-23 07:27] iyear commented on #586
I'm not sure if it's a token issue, but the owner and org fields only need to be filled in one.

[2022-05-23 07:33] iyear commented on #587
I think this makes sense.  I remember that GOPATH is not automatically added to PATH.

[2022-05-23 07:37] himku commented on #559
I'll try this question.

[2022-05-23 07:49] daniel-hutao commented on #587
@linuxtmty Thanks for the great proposal, you are right! Could you please help to create a pr to fix it?

[2022-05-23 07:53] daniel-hutao commented on #586
@iyear is right, if you setup the `options.owner`, please keep the `options.org` empty.

And please turn on the `--debug` flag then stick more logs here. @hxcGit

[2022-05-23 08:00] daniel-hutao commented on #583
First of all, thank you very much for your proposal @Esonhugh, you have looked at the DevStream code very carefully, it's very good! We look forward to your continued interest in the DevStream project and participation in our community!

---

Perhaps I have a different opinion about whether this function is a security problem. For a developer, he/she can just execute `rm -rf /` locally to finish t

[2022-05-23 08:02] daniel-hutao commented on #559
/assign @himku Happy coding!
Please test it thoroughly before submitting it. Thanks!

[2022-05-23 08:11] hxcGit commented on #586
`--Debug` is already open. And I modified the code to print `apiKey` and `token`.
![image](https://user-images.githubusercontent.com/60642406/169773766-1b4fc78f-8feb-4c99-99fc-2ade67202722.png)

I'm not sure if I copy the right `key` and `token`.

[2022-05-23 08:16] daniel-hutao commented on #582
@prodanlabs Thank you very much for the proposal and there is a great demo screenshot. For this plugin, maybe we need more detailed design before we can start development. For example, the password/token fields in the configuration file may not be suitable to save directly in plain text.

Also as you mentioned, jenkins can interface with docker, k8s, vm and many more, so which one should we implem

[2022-05-23 08:25] daniel-hutao commented on #581
@prodanlabs Please show us your `config.yaml` please.

[2022-05-23 08:27] daniel-hutao commented on #579
Download speed is mainly determined by bandwidth, I feel that concurrent downloads do not significantly speed up. Maybe you can simply write a demo to test it. @aFlyBird0

[2022-05-23 08:28] aFlyBird0 commented on #579
Yep, so I refactor it into a more common component to traverse tools by dependent. I am testing it now.

[2022-05-23 08:30] Esonhugh commented on #583
Yep.Good question.
1. the code there is really ugly and easy to exploit.
2. We don't know where and what will call this func. As your [pkg document](https://github.com/devstream-io/devstream/blob/main/docs/development/project-layout.md#pkg) said the ` The /pkg directory is still a good way to explicitly communicate that the code in that directory is safe for use by others`.
3. For attack scenario,

[2022-05-23 08:30] aFlyBird0 commented on #579
And maybe it is related to #566 . Because, if I solve the methods to traverse, I think it is easy to control other behaviors.

[2022-05-23 08:47] algobot76 commented on #560
I have a simpler solution in minde: everything can be done using a bash script.

- Store IP address in a simple plain text.
- Read the text file using `read`.
- Send API requesings using `curl`.
- Schedule the task using `crontab`.

[2022-05-23 09:25] iyear commented on #560
Yes, this is a much simpler solution. I started out with the idea of open sourcing as an widget, providing easy docker images and cross-platform binaries to make it possible to run everywhere and without relying on a specific OS.

That way, others could start it up immediately if they needed to use it.

How to do this depends on what the requirement ends up being.

[2022-05-23 09:33] prodanlabs commented on #582
1. password/token security.
The passwords of git and docker registry can be added by users themselves on Jenkins, and the credential ID is passed in config.yaml.
Jenkins `API Token` can be encrypted with some encryption algorithm.

2. The current jenkins plugin seems to just install the plugin. In addition, as far as I know, the way Jenkins integrates with kubernetes is implemented through the kub

[2022-05-23 10:28] iyear commented on #587
@linuxtmty  pr has not been created in the main repo.

[2022-05-23 14:29] KeHaohaoke commented on #560
Lark： I suggest not to use sdk, just use Feishu official website's development guide and use package resty to do it. Using lark's official guide can facilitate iteration, and others' libraries may not follow up and modify.

[2022-05-23 15:20] iyear commented on #560
@KeHaohaoke  Okay, I'll do that. Thanks for the help and reply!

[2022-05-23 16:56] hxcGit commented on #586
Solved.
![image](https://user-images.githubusercontent.com/60642406/169870264-2b614f8c-bc64-49b3-b895-310e8fdd494d.png)

[2022-05-23 16:56] #586 closed

[2022-05-24 01:57] #559 closed

[2022-05-24 02:09] daniel-hutao commented on #583
Thanks again for your enthusiastic work. About this issue, I still can't understand why I need to tell the caller that this function is unsafe. Compare with `exec.Command()` method, there is no additional "lifting" operation. The caller can choose to use `ExecInSystem()`, or `exec.Command()`. If `ExecInSystem()` needs to be treated specially, then why doesn't Golang itself mark `exec.Command()` as

[2022-05-24 02:11] IronCore864 opened #590 ":bomb: `Bug`: When There Is Network Issue, github-repo-scaffolding Plugin Won't Fail"
### What Happened?

[code]

As we can see here, when networking issues exist, the repo scaffolding plugin would time out calling GitHub API but it seems it continued without giving an result of the plugin execution.

### How to Reproduce?

_No response_

### Anything else

_No response_

### DevStream Version

v0.6.0

[2022-05-24 02:29] IronCore864 commented on #560
Both designs are great. Thanks, @iyear, and @algobot76.

I think we have two choices here:

1. Go with @algobot76's simple design, run it somewhere in a VM with corn. This way, it will only be used by DevStream.
2. Go with @iyear's design, run it as a pod in a K8s cluster, maybe even build a frontend for it, as simple as "hascloudflareipchanged.io", and it returns a simple JSON. We can have anothe

[2022-05-24 03:37] daniel-hutao commented on #560
This is a difficult requirement to test, and it's likely that we won't receive an alert message for years after we're done. Maybe after a few months, our group names have changed and we won't receive any alerts. In short, I think this requirement is not necessary to spend too much effort, there is no need to do too fancy. Just a simple script that can output useful logs after running. As for this

[2022-05-24 03:38] daniel-hutao commented on #560
Also the script only needs to be put into the `hack/`, and there is no need to consider a separate repo, that repo, if created, will soon be forgotten.

[2022-05-24 03:38] #587 closed

[2022-05-24 05:18] Esonhugh commented on #583
Thanks.
Write like 'sh -c "{expressions}"' allow us to inject shell commands into any params. as [Tencent Go](https://github.com/Tencent/secguide/blob/main/Go%E5%AE%89%E5%85%A8%E6%8C%87%E5%8D%97.md#13-%E7%B3%BB%E7%BB%9F%E6%8E%A5%E5%8F%A3) pointed out, code write like that is unsafe.

refer from the book.

refer from code
[code]

There are no filter and frist param is hardcoded as  `sh`.

I mean th

[2022-05-24 05:44] iyear commented on #583
@Esonhugh In Tencent's guide, his scenario is external input, which requires filtering as a given. But in devstream, the CLI would have needed to execute a shell. `sh` is blocked how do we execute the command?

[2022-05-24 06:57] aFlyBird0 commented on #566
@daniel-hutao
The way dtm currently works is that it calculates changes for all plugins and then executes them in turn. Even if an error is encountered, we continue to execute the changes afterwards, just logging the error to errsMap.

My current idea is to topologically sort the changes by dependencies.

It seems that there are many ways to interrupt argocdapp from continuing to run. I would like

[2022-05-24 07:11] Esonhugh commented on #583
I don't think so. The params is so easy to be controlled and everything depend on this will be vulnerable unless you completely hardcode you command.and That's no a security issue right now, I just want point out the code problem.

By the way, What about delete this os package and use exec.Command.

[2022-05-24 09:27] iyear commented on #590
The logic of the current `apply` command is as follows:
Each time `Create/Update/Delete` is executed, it just stores `err` in `errMaps` and outputs all errors after execution.

Do I need to print the error directly in one step and not continue execution?

Related Links:
https://github.com/devstream-io/devstream/blob/5f14cdb0d574bb4032cd806e83bf09c9cb06b586/internal/pkg/pluginengine/change.go#L123-

[2022-05-24 09:41] linuxtmty opened #594 ":four_leaf_clover: Whether to run the user-defined plugin directory"
## Whether to run the user-defined plugin directory
Dtm runs a custom plug-in path, which may cause users to need a lot of operations if there is no program crash in the path.
## Question
Are custom plugin paths allowed?

[2022-05-24 10:15] prodanlabs commented on #582
Hi @daniel-hutao  do you have any suggestions?

[code]

[2022-05-24 10:21] prodanlabs commented on #582
Environment variables use `name:value` is better

[2022-05-24 15:17] #594 closed

[2022-05-24 18:45] KeHaohaoke commented on #560
Using scripts and cron is a lightweight scheme. Easy to  implement.

[2022-05-25 01:10] daniel-hutao opened #596 ":four_leaf_clover: `Proposal`: dtm Configuration Enhancement: Single Profile Support"
## What Would You Like to Add? Why is This Needed?

Currently we need up to 3 config files:
- config.yaml
- variables.yaml
- tools.yaml

This has a certain understanding cost for new users to get started. So I think it's necessary to support the integration of the 3 config files together to make it easier for new users to get started with `dtm`

## Design

- old `config.yaml`

[code]

- old `varia

[2022-05-25 01:14] daniel-hutao opened #597 ":four_leaf_clover: `Proposal`: More Friendly Quickstart Config Template Output"
## What Would You Like to Add? Why is This Needed?

Quickstart, the simpler and easier to get started, the better. So why not have `dtm show config` output a `quickstart.yaml` by default so that users can get started with as little configuration as possible?

## Design

`dtm show config --template=quickstart` -> print `quickstart.yaml`

Let `--template` flag default value == quickstart, so `dtm sh

[2022-05-25 01:18] daniel-hutao opened #598 ":four_leaf_clover: `Proposal`: Config Template Enhancement with GitOps Support"
## What Would You Like to Add? Why is This Needed?

We'll have `dtm show config --template=quickstart` command to print `quickstart.yaml` soon. See #597 for more details.

So why not add a `dtm show config --template=gitops` to print `gitops.yaml` to make the GitOps toolchain run easier?

## Design

`dtm show config --template=gitops` -> `gitops.yaml`

About the content with gitops.yaml, see: http

[2022-05-25 02:34] IronCore864 commented on #596
Great design, approved.

Key points:

- support both a single config and multiple config files;
- var processing logic keeps the same.

[2022-05-25 02:35] IronCore864 commented on #596
Thanks @prodanlabs for raising this issue. This feature would greatly reduce users' overhead when they first use DevStream.

[2022-05-25 02:37] IronCore864 commented on #597
Approved. Easier for new users to get started without having to copy-paste from the docs.

[2022-05-25 02:38] IronCore864 commented on #597
Thanks @daniel-hutao and @prodanlabs for the discussion in our group and for raising this issue.

[2022-05-25 02:38] IronCore864 commented on #598
Approved. Please proceed. Great proposal!

[2022-05-25 02:52] iyear commented on #560
So I will write a go file as a simple script and put it in the `/hack` dir, is that ok?

[2022-05-25 03:20] #579 closed

[2022-05-25 04:13] daniel-hutao commented on #596
I'll do it right now!

[2022-05-25 04:52] iyear opened #603 ":four_leaf_clover: `Proposal`: Use `embed` to read the default config"
## What Would You Like to Add? Why is This Needed?
In `internal/pkg/show/config`, the default config is all written in text. Why not use `embed` to import template files?

This way you can have highlighting and the separate files are easy to maintain.

## Design
All the default config vars are placed in one file(`internal/pkg/show/config/config.go`), and the default config yaml files are placed in

[2022-05-25 07:43] linuxtmty opened #606 ":bomb: `Bug`: The configuration file key will crash the program if it is empty"
### What Happened?

The configuration file key will crash the program if it is empty。
<img width="522" alt="image" src="https://user-images.githubusercontent.com/8682294/170206521-c6b4d985-6be1-44e4-92b7-8cf3ac24ece5.png">
<img width="634" alt="image" src="https://user-images.githubusercontent.com/8682294/170206695-363dc738-28d0-4acc-a74b-08d51edf27fe.png">

### How to Reproduce?

<img width="522"

[2022-05-25 07:54] aFlyBird0 commented on #606
In fact, it involves more code that I have wanted to change for a long time.

I think the LoadConf function should return only `nil, error` or `non-nil-config, nil`.

That is, if the error returned is not nil, then the config returned should be trustworthy.

But in fact, as you suggest, the current `LoadConf` file also returns `nil, nil`. It's easy to confuse the caller.

There is a lot of this co

[2022-05-25 07:56] aFlyBird0 commented on #606
@daniel-hutao this issue is related to #604 . Maybe you can focus on this issue, thanks!

[2022-05-25 08:13] aFlyBird0 commented on #606
Sorry，I can;t reproduce this bug. 0.0.6 release and latest dev) @linuxtmty

![image](https://user-images.githubusercontent.com/36830265/170214370-5ab04a11-ea95-40c5-a867-9f4c0dca1a2a.png)

![image](https://user-images.githubusercontent.com/36830265/170214329-96d58c41-4244-465a-86a3-a4ba4b68f773.png)

[2022-05-25 08:23] IronCore864 opened #607 ":four_leaf_clover: `Proposal`: Support Artifactory Artifacts Storage Tools"
## What Would You Like to Add? Why Is This Needed?

Support Artifactory, Harbor, or something similar.

So far we have src management, issue tracking, ci, cd, monitoring, etc., but we lack an artifacts management tool. Would be nice if a new plugin for artifacts is added.

A few useful links:

https://www.jfrog.com/confluence/display/JFROG/Installing+the+JFrog+Platform+Using+Helm+Chart

https://gi

[2022-05-25 08:28] IronCore864 commented on #504
Requirements: make the plugin for DevLake production-ready.

For example:

- use a helm chart to manage DevLake installation instead of YAML
- use Go helmclient to install instead of kubectl apply
- adjust the amount of numbers of pods of all the deployments so that there is no single point of failure and enough redundancy
- MySQL persistent storage. Local, or other storage? If local, make sure th

[2022-05-25 08:29] IronCore864 commented on #514
Adding more details about this issue:

## Be Brave, Be Imaginative

Anything that isn't following the clean code best practice, refactor it.

Any feature you think would add value to end-users, add it.

Any configuration refactors / documentation updates that would improve the end users' quality of life, do it.

Be brave when deleting unnecessary code, and be imaginative when adding new features.

[2022-05-25 08:51] IronCore864 commented on #583
Very good discussions above. First things first: sorry for asking @Esonhugh to work on a fix prematurely before we discussed deep enough. My bad!

I understand the issue here: we followed the [standard Go project layout](https://github.com/golang-standards/project-layout) which clearly states that the `/pkg` folder is public and should be safe, where we have unsafe functions there (no matter if it

[2022-05-25 09:09] IronCore864 commented on #515
Adding more background and possible improvements:

## Background

The ArgoCD App plugin creates a YAML file locally for ArgoCD Application CRD then uses `kubectl` to apply it, which isn't a good practice, because:

- It relies on `kubectl` command tool, but the thing is, it might not be available. So, the plugin depends on the environment in which it's running.
- It creates a file then removes the

[2022-05-25 09:15] IronCore864 commented on #516
## Background

Current config:

[code]

The biggest issue I have with it is that the config example is a bit confusing. Why put both "org" and "owner" at the same time? In fact, only one is required, but from the sample config, it's not straightforward until you read all the comments.

Another issue is the "image_repo" part, what does image repo have anything to do with GitHub repo scaffolding?

#

[2022-05-25 09:18] IronCore864 commented on #517
[code]

Same issue regarding the owner/org issue. See https://github.com/devstream-io/devstream/issues/516#issuecomment-1136999392 for more info.

Besides, we need a better usage example, with better docs explaining each param in detail. I.E., if it's mandatory, what it does, what it means, and the default values. Maybe provide a minimum config that could work as well.

## Be Brave, Be Imaginative

[2022-05-25 09:19] IronCore864 commented on #518
Let's put this issue on hold for now since we don't have a user who uses node yet.

[2022-05-25 10:51] Esonhugh commented on #583
I can't agree more.

[2022-05-26 02:26] daniel-hutao commented on #606
I'm sorry I didn't give you feedback on this issue yesterday; it's something I've fixed in the `configloader` refactoring process. I haven't been able to merge it in time because of the refactoring and #596 support changes too many; thank you for your bug feedback, let's keep this issue open for now, and we'll come back to see if the issue is fixed after I finish refactoring.

[2022-05-26 02:38] daniel-hutao commented on #603
It's so cool! This idea is especially awesome!

Let's discuss a simple design that I think would look like as below:

1. add a `plugins` directory in the `examples` directory, which puts all the template configuration of all the `plugins`, similar to: `argocd.yaml` file contain the default configuration of `argocd`.
2. delete all the files in the `internal/pkg/show/config/plugin` directory, becaus

[2022-05-26 03:46] daniel-hutao commented on #597
/assign @iyear Would you please help to implement this feature?

[2022-05-26 03:54] daniel-hutao opened #610 ":four_leaf_clover: `Proposal`: Move `dtm-scaffolding-golang` repo Under `devstream/staging/dtm-scaffolding-golang`"
## What Would You Like to Add? Why is This Needed?

Last night the template repository `dtm-scaffolding-golang` that the `github-repo-scaffolding-golang` plugin depends on was deleted by mistake. Now of course I'm not trying to blame whoever deleted it, but I'm trying to figure out how to avoid this problem from happening again.

## Design

1. Use the staging directory of `devstream` repo to hold

[2022-05-26 03:55] daniel-hutao commented on #610
/cc @devstream-io/devstream

[2022-05-26 04:13] iyear commented on #597
ok, I will work for it.

[2022-05-26 04:17] iyear commented on #597
What is the `template` flag used for? There is already a `plugin` flag. @daniel-hutao

[2022-05-26 04:19] imxw commented on #610
Later there may be other template files, will this cause the main library to become too large

[2022-05-26 04:23] #610 closed

[2022-05-26 04:29] daniel-hutao opened #612 ":four_leaf_clover: `Proposal`: Automated Synchronization of Directories under `staging` to New Repositories"
## What Would You Like to Add? Why is This Needed?

Reference #610

We staging some repos in the `staging` directory that are supposed to be external independent. The code of these repos are updated from the current `devstream` repository, but the update needs to be automatically synchronized to the external independent repositories.

## Design

1. GitHub Actions;
2. Trigger when `staging/dtm-repo

[2022-05-26 05:05] iyear commented on #603
@daniel-hutao

I'm currently having a problem with `go:embed` not working `.` or `..` which means that the parent directory cannot be referenced.

My idea is to leave a `configs` package in examples that reads all these yaml files and provides them to the rest of the program.

Related Issues:
https://github.com/golang/go/issues/46056
https://github.com/golang/go/issues/41191#issuecomment-686621090

[2022-05-26 05:18] iyear opened #613 ":bomb: `Bug`: Can not run `make fmt`"
### What Happened?

When I run `make fmt` in `WSL` :
[code]

But the imports in the code does get formatted successfully

### How to Reproduce?

run `make fmt` in `WSL`

### Anything else

_No response_

### DevStream Version

latest

[2022-05-26 06:34] daniel-hutao commented on #613
![image](https://user-images.githubusercontent.com/18692628/170431029-10a7400d-b165-49e0-837b-c082c6fd1dba.png)

It does well in Mac. And I don't have the WSL env.

Does anyone know how to solve this compatibility problem? @devstream-io/devstream

[2022-05-26 06:39] daniel-hutao commented on #603
How about to put the yaml files to `internal/pkg/show/config`? @iyear

[2022-05-26 09:40] iyear commented on #603
@daniel-hutao The latest commit has moved the plugin yaml default config to that dir, but `quickstart.yaml` will not be read..

I still think the https://github.com/golang/go/issues/41191#issuecomment-686621090 approach is appropriate, as all examples can be exposed to other packages.

[2022-05-26 09:52] iyear commented on #603
Or I'll start by making the current `DefaultConfig` standalone as a file. #597 I'll do it later and now I fix this issue.

[2022-05-26 10:18] daniel-hutao commented on #597
@iyear the `plugin` flag is used to print config with one specified plugin. The `template` flag is used to print some `combined configs` like `quickstart`/`gitops`/`chatops`/...

[2022-05-26 11:14] iyear commented on #597
@daniel-hutao The template files are currently in the `examples` directory, but `show/config/embed.go` cannot read the files in the parent directory.

So the directory planning still needs to consider.

[2022-05-26 16:14] imxw commented on #613
The default shell used by `make` is `/bin/sh`, which in ubuntu or WSL points to the Dash Shell. The Dash Shell does not support the `[[` syntax. You can run `make fmt SHELL=$(which bash)` here.

[2022-05-27 00:40] daniel-hutao commented on #613
@imxw Could you please help to improve it?

[2022-05-27 01:11] KeHaohaoke commented on #508
Hello, I have studied the deployment of zentao and the integration of zento, github and gitlab. Can we discuss the design of requirements?  @hxcGit

[2022-05-27 02:06] imxw commented on #613
Yes! Here I want to change not only the shell, but also the way to determine whether the command exists, using `command -v` instead, it is a shell builtin, all unix-like systems can use it, and I do not think it is necessary to define GOPATH here, what do you think?

[2022-05-27 03:56] hxcGit commented on #508
Sure, that's great！

[2022-05-27 06:43] IronCore864 opened #622 ":bomb: `Bug`: github-repo-scaffolding-golang Repo Init Issues"
### What Happened?

Currently, the github-repo-scaffolding-golang plugin creates a new repo, adding files to a transit branch, then merge it into the main branch.

The first file to be committed is the `.gitignore` file; so there is a logic in this plugin: if the file name is `.gitignore`, it will initialize the branch so that the commit can be successful.

However, this design heavily depends on

[2022-05-27 07:47] daniel-hutao commented on #622
If we delete `.gitignore`, then we need to select another file to be the "first file". More detailed design is needed here.

[2022-05-27 07:50] daniel-hutao commented on #613
@imxw About the GOPATH here: https://github.com/devstream-io/devstream/issues/587

[2022-05-27 09:32] imxw commented on #522
Support Self-hosted GitLab or Chinese version  https://jihulab.com (by setting `baseURL`) #621

[2022-05-27 09:53] #603 closed

[2022-05-27 13:16] #622 closed

[2022-05-27 13:19] daniel-hutao commented on #613
@iyear #623 has been merged, please check wether the issue has been fixed. And remember to close this issue if it's been fixed.

[2022-05-27 13:24] iyear commented on #613
@daniel-hutao @imxw Thanks! It works now.

![image](https://user-images.githubusercontent.com/61452000/170707982-4726ee8e-f441-42d4-a328-7917f1f11e2f.png)

[2022-05-27 13:24] #613 closed

[2022-05-28 12:41] daniel-hutao commented on #509
@iyear @IronCore864

I've spent most of the day researching how to deploy gitlab-ce, and have found some rather tricky issues.

1. `gitlab-ce` doesn't have an `arm64` version or a `darwin` version of the image, so we can't run it locally. It only has the `linux/amd64` version.

![image](https://user-images.githubusercontent.com/18692628/170825806-5669f284-c280-466e-842a-843b1391f642.png)

Related

[2022-05-29 03:58] imxw opened #627 ":four_leaf_clover: `Proposal`: Add generateFigSpec subcommand for fig autocomplete"
## What Would You Like to Add? Why is This Needed?

I want to use this subcommand to generate a `.ts` file that needed for fig autocomplete. Then integrate it into CI with [push-to-fig-autocomplete-action](https://github.com/withfig/push-to-fig-autocomplete-action), so that if there is a command or option change, the action will automatically create a Autocomplete PR.

## Design

<img width="899"

[2022-05-29 08:10] #581 closed

[2022-05-30 05:54] daniel-hutao commented on #627
Good idea!

Maybe this command is a bit complicated, can we simplify it a bit more? For example,

`dtm autocomplete --type=fig`

[2022-05-30 06:01] IronCore864 opened #629 ":four_leaf_clover: `Proposal`: editorconfig"
## What Would You Like to Add? Why is This Needed?

Add .editorconfig to add new line at eof automatically. @iyear's original idea.

Refer to: https://stackoverflow.com/a/41127396.

[2022-05-30 06:02] #629 closed

[2022-05-30 06:12] IronCore864 opened #630 ":bomb: `Bug`: Dev version plugins shouldn't be downloaded by the `init` command"
### What Happened?

When there are old development version plugins in `.devstream`, then you change your code, and when you build plugins, they will have a new version number, then executing `dtm init` will report the following error. We need to make sure that only the official release version needs to be downloaded from the remote.

[code]

### How to Reproduce?

_No response_

### Anything else

[2022-05-30 06:14] #630 closed

[2022-05-30 06:17] IronCore864 commented on #520
Requirements from end-user:

- support Self-hosted GitLab
- support for creating a project under groups
- support specifying the visibility of the created project by setting the visibility field

[2022-05-30 06:17] IronCore864 commented on #520
@imxw

[2022-05-30 07:32] #583 closed

[2022-05-30 07:32] IronCore864 commented on #583
See PR https://github.com/devstream-io/devstream/pull/631 which deleted the dead code.

[2022-05-30 08:00] imxw opened #632 ":four_leaf_clover: `Proposal`: Integrate the golangci-lint command in the makefile"
## What Would You Like to Add? Why is This Needed?

It is convenient for developers to detect problems when building locally. Improve the quality of integrating code

## Design

- `make lint`
- Determine whether the golangci-lint is installed when building. If it is not installed, install it with `go intall`

[2022-05-30 08:08] summingyu commented on #632
Great, so is it also possible to check goimports or other installations?

[2022-05-30 08:09] summingyu commented on #632
Or you can call it a development environment check:)

[2022-05-30 08:40] iyear commented on #560
Looks like this is a `good first issue`, please unassign me to avoid misunderstandings, thanks!

[2022-05-30 09:50] imxw commented on #627
how about `dtm fig`? This subcommand will be hidden, users no need to know it. @devstream-io/pmc

[2022-05-31 05:10] iyear opened #634 ":four_leaf_clover: `Proposal`: Optimize `.editorconfig`"
## What Would You Like to Add? Why is This Needed?
1. `indent_size` should be better configured by the user's IDE itself, we only specify `indent_style`.
2. add other rules

[2022-05-31 07:28] #634 closed

[2022-05-31 07:35] IronCore864 opened #636 ":four_leaf_clover: `Proposal`: main builder / e2e-test failure should trigger an alert"
## What Would You Like to Add? Why Is This Needed?

If e2e-test is failed or if the main branch builder is failing, we should get a notification. Either Slack or Feishu.

[2022-05-31 07:49] imxw opened #638 ":four_leaf_clover: `Proposal`: support `Tekton` plugin"
## What Would You Like to Add? Why is This Needed?

[Tekton](https://tekton.dev/) is a powerful k8s-based cloud-native CI/CD framework, it is also a [Continuous Delivery Foundation](https://cd.foundation/) project, our plugins system should add this great member!

[2022-05-31 07:59] imxw opened #639 ":four_leaf_clover: `Proposal`: support `SonarQube` plugin"
## What Would You Like to Add? Why Is This Needed?

`Static program analysis` is an integral part of CICD to ensure code quality, `SonarQube` is one of the best and is heavily used by SMEs

![image](https://user-images.githubusercontent.com/16207029/171122757-81282e85-a55c-40ea-b7ef-ae64c56ead91.png)

[2022-05-31 15:02] prodanlabs opened #642 ":four_leaf_clover: `Proposal`: dtm command auto-completion"
## What Would You Like to Add? Why Is This Needed?

`dtm` command  auto-completion，make `dtm` easier to use

## Anything else

![image](https://user-images.githubusercontent.com/28917392/171205753-eadcaeb0-f648-45e4-b98d-91389f6d64b5.png)

![image](https://user-images.githubusercontent.com/28917392/171206182-27a01c66-d793-400e-8d9c-12eb75e680c2.png)

[2022-05-31 15:09] iyear commented on #642
There is currently no github bot to execute the command:(. And this issue looks similar to #627, but I don't know much about the related fields😐.

[2022-05-31 16:09] prodanlabs commented on #642
Oh, someone is doing it, right? Then I don't have to submit a PR.

[2022-05-31 16:12] aFlyBird0 commented on #642
I think #627 is special for [`fig`](https://docs.devstream.io/en/latest/commands/autocomplete/#fig-autocomplete) , this issue is special for [`shell`](https://docs.devstream.io/en/latest/commands/autocomplete/#shell-autocomplete)

[2022-05-31 16:16] aFlyBird0 commented on #642
Thank you very much for submitting so many issues for devstream!

However, there is already an official shell autocomplete (see [here](https://docs.devstream.io/en/latest/commands/autocomplete/#shell-autocomplete) for details), so some of the functions may be duplicated.

But what does the `-p` mean? Is it a regular filter?

[2022-05-31 16:26] aFlyBird0 commented on #642
And to my partial understanding, `dtm show config -p` might be similar to `dtm list plugins -r`

![image](https://user-images.githubusercontent.com/36830265/171224843-98f2562b-8811-483e-a412-d433747490a7.png)

[2022-05-31 16:53] prodanlabs commented on #642
[code]

[2022-05-31 16:56] prodanlabs commented on #642
[code]

[2022-05-31 17:08] aFlyBird0 commented on #642
Got it. I'm sorry I didn't understand at first. I'm delirious tonight.

[2022-06-01 01:34] hxcGit commented on #508
### For the integration of Zentao, at first we can just consider its deployment.
There are various methods for deploying Zentao, including online platform, one-click installation package and source code. My thinking is that I would prefer to deploy Zentao on company's intranet environment, and would prefer an open source version. Either one-click installation or source code installation would be f

[2022-06-01 01:42] hxcGit commented on #508
I've also considered integrating api operations. If we also consider supporting configuration of project operations, similar to trello, I would wonder why operations staff choose to use configuration files rather than web visualization platforms.

[2022-06-01 09:32] imxw opened #643 ":four_leaf_clover: `Proposal`: generate the default configuration file for the plugin based on the plugin's options"
## What Would You Like to Add? Why Is This Needed?

Some plugins have an options.go that can be self-documented using comments, and then we can use it  to generate the xxx.yaml needed for `dtm show` using `go generate`. The markdown files in `docs/plugins` can embed the default yaml file, so that developers only need to focus on the code to avoid the situation of changing the code and forgetting t

[2022-06-01 09:42] IronCore864 commented on #560
@daniel-hutao please also have a look at our decision.

[2022-06-01 12:59] shubham-cmyk opened #644 ":four_leaf_clover: `Proposal`: Change Symbol of Debug and Error in logging"
## What Would You Like to Add? Why Is This Needed?
Since the symbol of Debug and Info was same ( i ) also Error and Fatal was same ( x ).
So making Debug to ( λ ) and Error to ( !! )

[2022-06-01 13:30] shubham-cmyk opened #646 ":four_leaf_clover: `Proposal`: Change Symbol of Debug and Error in logging"
## What Would You Like to Add? Why Is This Needed?
Since the symbol of Debug and Info was same ( i ) also Error and Fatal was same ( x ).
So making Debug to ( λ ) and Error to ( !! )

[2022-06-01 13:34] shubham-cmyk commented on #646
#647 Update.

[2022-06-01 13:35] #644 closed

[2022-06-02 08:40] yxxhero opened #651 ":four_leaf_clover: `Proposal`: Contribution request"
## What Would You Like to Add? Why Is This Needed?
I am more interested in this project. I am a community member of k8s helm Dragonfly and other projects. Please wait to participate in the devstream and improve together. I will see if there are `helm` related things in the project, which can be assigned to me. My github: https://github.com/yxxhero

[2022-06-02 08:41] KeHaohaoke commented on #508
We can use k8s apply to deploy Zen Buddhism first. The advantage is that we can rely on k8s' own copy management, state management and so on to ensure the running state of Zen Buddhism. A simple yaml for deployment looks like this.

`apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zentao-pvc
  namespace: zentao
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      st

[2022-06-02 09:43] imxw opened #652 ":open_book: `Docs`: Embedded yaml file in the plugin md file"
### What should be changed?

There are default yaml configuration files for all plugins in the `internal/pkg/show/config/plugins/` directory. The configuration in the `Usage` section of plugin's documentation is a copy of its contents.

In other words, each plug-in needs to maintain two documents, although the workload of copy and paste is not much, but with the number of plug-ins become more, onc

[2022-06-02 16:07] aFlyBird0 opened #654 ":bomb: `Bug`: `dtm init` prompt error during first download"
### What Happened?

Even if the plugin is downloaded for the first time, `dtm` still prompts "Plugin: %s already exists, no need to download.".

![image](https://user-images.githubusercontent.com/36830265/171668568-e7ac78b0-7080-4bbc-8c19-3b7a22946a2d.png)

There is a small logic bug in the code.

Related Code:
https://github.com/devstream-io/devstream/blob/8023fa202cade666d8a1f5b5a4a6c936e6eb19a3

[2022-06-02 23:59] IronCore864 commented on #508
@hxcGit thanks for the investigation. Very detailed discussion!

According to the [official doc here](https://www.zentao.net/book/zentaopmshelp/40.html), I'd guess that most users would choose either the cloud-based version or the Linux one-command install. I personally don't think we should support the latter version because it doesn't seem too "cloud-native," so let's forget about this choice fo

[2022-06-03 00:12] IronCore864 commented on #508
@hxcGit thanks for the investigation. Very detailed discussion!

According to the [official doc here](https://www.zentao.net/book/zentaopmshelp/40.html), I'd guess that most users would choose either the cloud-based version or the Linux one-command install. I personally don't think we should support the latter version because it doesn't seem too "cloud-native," so let's forget about this choice fo

[2022-06-03 00:13] IronCore864 commented on #651
Hi @yxxhero, thanks for reaching out! There sure is. Let's discuss this over Slack. Please join our slack channel and direct message me. Slack channel info is here: https://github.com/devstream-io/.

[2022-06-03 00:24] yxxhero commented on #651
ok. Thanks very much.

[2022-06-03 00:24] #651 closed

[2022-06-03 06:17] hxcGit commented on #508
@IronCore864 @KeHaohaoke That's a great idea. I know a little bit about client-go, so I think I can start with client-go, and I will submit a proposal later. As for helm, I will try it after I finish the client-go deployment.

[2022-06-03 12:54] daniel-hutao commented on #654
@aFlyBird0 It's great! You can try to sent this good-first-issue to the users and contributors WeChat groups to see if any new contributor are interested in it. If so, you can further help him to complete his first pr.

[2022-06-03 12:55] #652 closed

[2022-06-03 12:59] daniel-hutao commented on #643
Great idea!

[2022-06-03 13:01] daniel-hutao commented on #642
@prodanlabs Great proposal!

@imxw Please help to review this proposal & pr #650

[2022-06-03 13:02] #632 closed

[2022-06-06 01:48] IronCore864 commented on #642
I put a description here: https://github.com/devstream-io/devstream/pull/650#issuecomment-1146951565

Is anybody interested in writing a blog on configuring auto-completion@2 with Bash 4.1+ on macOS? Chinese is fine.

@daniel-hutao

[2022-06-06 01:58] #560 closed

[2022-06-06 09:35] aFlyBird0 opened #656 ":open_book: `Docs`: Some links should be updated"
### What should be changed?

## 1. 404
![image](https://user-images.githubusercontent.com/36830265/172132317-cf8c9572-e7c9-4209-9928-935dbe9b74b1.png)

## 2. render error
![image](https://user-images.githubusercontent.com/36830265/172134299-0a6d6431-9715-4530-a851-faa681b1eb43.png)
![image](https://user-images.githubusercontent.com/36830265/172133873-ace65964-2d01-4713-8d97-6ed53f72baf9.png)

## 3

[2022-06-06 13:23] #646 closed

[2022-06-07 11:39] #656 closed

[2022-06-07 11:40] #596 closed

[2022-06-08 01:15] daniel-hutao commented on #606
/close
fixed with #655

@linuxtmty I'm sorry, I had already started the refactoring of the `configloader` package before I saw this issue, but the work was blocked for some time, resulting in a little late merge.

Hope it didn't affect your passion!

[2022-06-08 01:15] #606 closed

[2022-06-08 01:18] daniel-hutao commented on #597
@iyear I'm sorry, This proposal depends on #655, so there are some obstacles when you implement it before. But after #655 merged, I think this proposal is simple enough, let's leave it to NEW

[2022-06-08 01:30] daniel-hutao opened #659 ":four_leaf_clover: `Proposal`: Improving The Robustness of Config File"
## What Would You Like to Add? Why Is This Needed?

After #655 merged, se now support single config file like below:

https://github.com/devstream-io/devstream/blob/221298b5d5dde98a67ebadb99197fcb89218f7b0/examples/gitops.yaml

As you can see, there is an order requirement here, e.g.
1. core config
2. var config
3. tool config

What if the user does not write in this order? I want dtm to still wor

[2022-06-08 01:39] daniel-hutao opened #660 ":four_leaf_clover: `Proposal`: CoreConfig varFile & toolFile Relative Path Support"
## What Would You Like to Add? Why Is This Needed?

![image](https://user-images.githubusercontent.com/18692628/172512605-d29b15eb-ea45-46b6-9e49-edb2dd80625d.png)

I've left the TODO there. Not the `varFile` and `toolFile` can only be `filename` or `absolute file path`, like:
1. `tools.yaml`
2. `/tmp/tools.yaml`

I wish relative paths could also be supported, like this: `../config/tools.yaml`

##

[2022-06-08 02:45] daniel-hutao opened #661 ":four_leaf_clover: `Proposal`: Add More `ut` to the `configloader` Package"
## What Would You Like to Add? Why Is This Needed?

We have a function named LoadConfig() in `internal/pkg/configloader/config.go:29`. This is the entry logic of the `configloader` package. I'd like to add some `ut` to this function.

**ut samples**: internal/pkg/configloader/configloader_test.go
**config file format ref**: examples/gitops.yaml

Please check [gingko's documentation](https://onsi.g

[2022-06-08 02:46] DunyuSong commented on #661
I want to do it.

[2022-06-08 02:48] daniel-hutao commented on #661
@DunyuSong Go for it, happy coding!

[2022-06-08 03:24] summingyu commented on #660
I think it just needs to change
[	absFilePath := filepath.Join(filepath.Dir(filePath), filePath)](https://github.com/devstream-io/devstream/blob/221298b5d5dde98a67ebadb99197fcb89218f7b0/internal/pkg/configloader/coreconfig.go#L131)
to
`absFilePath := filepath. Abs(filePath)`

[2022-06-08 04:00] summingyu commented on #660
## Plan A:
Just need to change
https://github.com/devstream-io/devstream/blob/221298b5d5dde98a67ebadb99197fcb89218f7b0/internal/pkg/configloader/coreconfig.go#L131

to `filepath.Abs()`

## Plan B:
`filepath.Abs()` will checks if the path is absolute and return abs self, so just need to change
https://github.com/devstream-io/devstream/blob/221298b5d5dde98a67ebadb99197fcb89218f7b0/internal/pkg/confi

[2022-06-08 04:33] rxhuster commented on #660
I want try it

[2022-06-08 04:36] daniel-hutao commented on #660
@rxhuster  happy coding！

[2022-06-08 09:54] aFlyBird0 commented on #661
Feel free to ask me for any help. Development is not urgent, just take your time at your pace. @DunyuSong

[2022-06-08 10:09] aFlyBird0 commented on #661
For this issue we can start by keeping it simple, i.e. testing only the `LoadConfig` function without testing the three small functions inside it.

You can construct different function inputs (the correct config file can be found in #655, or you can construct some incorrect config file) and then determine if the output of `LoadConfig` is as expected (return the correct `*Config`, or return an erro

[2022-06-08 10:18] aFlyBird0 commented on #661
More precisely, for each test case, you can create a string that contains configuration information, such as :
[code]
Then write this string (configuration content details), to a specific file, such as ``quickstart.yaml``.

Then call the `LoadConfig("quickstart.yaml")` method and determine if the `*Config, error` returned by the function is responsible for the expectation.

After that, test the ot

[2022-06-08 10:30] aFlyBird0 commented on #661
You can read this [chinese ginko ducument](https://www.ginkgo.wiki/) at first if the English ginkgo document is difficult to read. @DunyuSong

[2022-06-09 03:06] prodanlabs commented on #582
The discussion about this plugin seems to have stopped, I don't know how it's going.

There is no doubt that the `devstream` concept is cool, but from the existing functions, `ROADMAP` and development trends, devstream is not suitable for us, the function we need is to solve the integration of DevOps software, simplify DevOps configuration, etc., not based on helm does some simple installation. Un

[2022-06-09 03:35] daniel-hutao commented on #660
@rxhuster Good job!
Please contact me on WeChat and I will prepare a certificate and some gifts for you.

---

I've tested this pr locally. Everything does well.

[2022-06-09 03:41] #660 closed

[2022-06-09 07:06] IronCore864 commented on #582
Hi @prodanlabs,

We are sorry that this issue didn't get enough attention from the PMC.

Please do keep in mind that we are a tiny PMC consisting of only 2 members at the moment, and we have a not-so-tiny backlog to work through. It doesn't mean this isn't an important issue; I hope you keep it in mind.

I have the following concerns regarding this issue:

## 1. Jenkins Installation/Configuration

[2022-06-09 10:28] byene0923 commented on #659
sounds interesting, i want to have a try

[2022-06-09 10:30] aFlyBird0 commented on #659
Welcome to DevStream! Please enjoy writing code!

[2022-06-09 13:55] daniel-hutao commented on #659
@byene0923 happy coding！

[2022-06-09 16:25] byene0923 commented on #659
Hi, I think the core problem is to distinguish core config, var config and tool config. so we can add some limit to the config
- core config must exist and be unique, the key `varFile` and `toolFile ` must exist and only in core config. we use one of them to identify the core config
- tool config may be nil or only have one(multiple?). the key `tools` must exist and only in tool config, we use it

[2022-06-09 17:23] aFlyBird0 commented on #659
Good job! Your solution is very good and clearly expressed.

1. I agree with you totally for the first idea. I think it is the best way.
2. For the second idea/question about tool config: I think there must be only one tool config, not nil and not multiple. But it can be defined in main config file by the key `tools` or in `toolFile`. Yep, we can regard the config block surrounded by `---` as `too

[2022-06-10 02:38] byene0923 commented on #659
Thanks for your resp,  I see varConfig is[ Unmarshaled into map](https://github.com/devstream-io/devstream/blob/main/internal/pkg/configloader/toolconfig.go#L113)

yeh  i think varconfig is flexible， may not be in one block。 and more generic, may there are different config types in the future ? we may think not limited by this three types

[2022-06-10 03:07] aFlyBird0 commented on #659
I agree with you. You did a perfect job! Let's wait for PMC's opinion of dtm. @byene0923

[2022-06-10 04:00] hxcGit opened #664 ":four_leaf_clover: `Proposal`: Support to run e2e tests locally"
## What Would You Like to Add? Why Is This Needed?

Currently dtm has support to run e2e tests in github action, but running e2e tests locally still needs to be improved.

For now, the following points maybe can be improved
1. add configuration file `config.yaml` to support local running
2. add documentation to describe how to use

## Design

## Anything else

[2022-06-10 04:07] hxcGit commented on #664
assign to me

[2022-06-10 06:30] aFlyBird0 commented on #659
@byene0923 Hello!

After discussing with Daniel Hu, PMC of devstream here are our opinions.

Your solution is robust but we can do it more simply in this issue. The goal of `good first issue` is to help new contributors finish their first contribution fluently.

That is to say, you need not support multiple sections of var config. It is complex and may cause a mass. The core logic of var config is

[2022-06-10 08:08] #642 closed

[2022-06-10 09:33] daniel-hutao commented on #558
`configloader` has been refactored, as can be seen in #655. So some of the links above are no longer valid, but don't worry, the `configloader` is now much more readable and you can easily find where the `validation` logic is in this package. Please don't worry, feel free to leave a comment and let us know if you encounter any problems.

[2022-06-11 07:56] imxw opened #667 ":bomb: `Bug`: Duplicate error output"
### What Happened?

Repeated errors are reported when you use a subcommand that does not exist.

[code]

The first standard error output is due to the following code.
[code]
https://github.com/spf13/cobra/blob/5b2b9e9f61d36ccb66167301f76a2292c3729855/command.go#L956-L959

The second standard error output is due to the following code.
https://github.com/devstream-io/devstream/blob/9aeaac6f089cdbb2b

[2022-06-13 01:51] IronCore864 commented on #664
A great proposal @hxcGit. If you need any help on this matter, feel free to reach out to @daniel-hutao, @aFlyBird0, and me!

[2022-06-13 01:52] IronCore864 commented on #661
@DunyuSong are you already working on this? If so, please assign this issue to yourself so that we know somebody is already on it :) Thanks, and happy coding!

[2022-06-13 01:53] IronCore864 commented on #654
Is anybody following up on this one? @aFlyBird0

[2022-06-13 01:55] IronCore864 commented on #643
@aFlyBird0 I think this issue might be not too hard for first-time contributors. Maybe let's label it as a good first issue and encourage the community to work on it?

@daniel-hutao

[2022-06-13 02:38] DunyuSong commented on #661
@IronCore864 This is a bit difficult for me for the time being, so I haven't started yet. If anyone wants to do it, it can be assigned to him.

[2022-06-13 02:50] aFlyBird0 commented on #654
I'm following up on this issue, but no new contributor has claimed the issue.

[2022-06-13 06:37] #667 closed

[2022-06-14 03:29] rxhuster commented on #513
i want to try

[2022-06-14 05:47] huang12zheng opened #673 ":bomb: `Bug`: dtm init can't work"
### What Happened?

whne I use `dtm init -f quickstart.yaml`,cause failure
[code]

### How to Reproduce?
https://asciinema.org/a/wiIVgSSFCCEW2W6bwAiopBsGk
---
# core config
varFile: "" # If not empty, use the specified external variables config file
toolFile: "" # If not empty, use the specified external tools config file
state: # state config, backend can be local or s3
  backend: local
  options

[2022-06-14 06:15] iyear commented on #673
The doc for v0.6.0 is correct for its `quickstart.yaml` config, and you may be viewing the latest doc.

Visit the doc for v0.6.0: https://docs.devstream.io/en/release-0.6/quickstart_en/

[2022-06-14 06:15] huang12zheng opened #674 ":four_leaf_clover: `Proposal`: Supports DTM version switching"
## What Would You Like to Add? Why Is This Needed?
Supports DTM version switching
1. Please download every update
2. New MAC downloads require permission

[ ] Support upgrade to latest
[ ] support downgrade order with downgrade or other similar

## Design
* in 0.6.0
dtm upgrade

* in 0.6.1
dtm downgrade

## Anything else

[2022-06-14 06:18] huang12zheng commented on #673
it is correct.
it is work with doc release-0.6.

[2022-06-14 06:20] iyear commented on #673
Is it necessary to add a v0.6.1 version of the docs? According to the v0.6.1 release, the doc has been updated.

@daniel-hutao @IronCore864

[2022-06-14 06:53] daniel-hutao commented on #509
I have done some tests and have some suggestions for you @iyear:

1. `Deploy method`: For simplicity, we start with `docker` support for the first version. Refer to the [documentation here](https://docs.gitlab.com/ee/install/docker.html#install-gitlab-using-docker-engine).
2. `Docker container image`: use `docker pull gitlab/gitlab-ce:rc`
3. `OS support`: linux only(we need to remind users in the

[2022-06-14 06:57] daniel-hutao commented on #674
/cc @devstream-io/devstream More detailed design required.

[2022-06-14 06:59] daniel-hutao commented on #673
This is a problem, I'll put up the 0.6.0 documentation right away.

[2022-06-14 07:12] IronCore864 commented on #509
Great. Let's get started.

[2022-06-14 07:14] iyear commented on #673
@daniel-hutao Some errors have occurred! The link above is no longer accessible. The doc for v0.6.0 is now: https://docs.devstream.io/en/v0.6.0/quickstart_en/

But its quickstart is wrong. Its link points to the main branch.

[2022-06-14 10:05] aFlyBird0 commented on #509
Iyear has been very busy recently so I will take over his task. Thank you for your previous exploratory efforts. @iyear

[2022-06-14 10:07] daniel-hutao commented on #513
@rxhuster please leave your comment under a specified sub-issue

[2022-06-14 12:08] huang12zheng commented on #673
doc's latest Version is points to main branch, but main is not released.
So, actually, the lastest of the document should be pointing to the latest release.
@iyear @daniel-hutao

[2022-06-14 12:17] iyear commented on #673
@huang12zheng In the current design, the latest page of the docs points to the latest main branch code instead of the latest release.

I think it is possible to have a default page for `docs.devstream.io` that points to the latest release instead of the docs for the latest main branch code.

[2022-06-14 13:54] huang12zheng commented on #673
Pretty much what I said, although I didn't find solution that add a default page

[2022-06-14 14:21] daniel-hutao commented on #673
@IronCore864 How about we switch the default document version to the latest release version？

[2022-06-15 00:15] huang12zheng commented on #673
@daniel-hutao
I just want to say that the documentation version is not as simple.

* Maybe we should learn from how other projects manage documentation

Some demon whisper, I'm just in confusion:
There are the following possible facts:
~~1. In the future, a document error is a low probability event,
   Even documents don't change very much~~
~~2. We may need to decouple documents from releases,
3.

[2022-06-15 00:33] huang12zheng opened #675 ":four_leaf_clover: `Proposal`: argo Support kustomize"
## What Would You Like to Add? Why Is This Needed?

* dtm only supports Helm repo.
Here's what I found:
https://github.com/devstream-io/devstream/blob/main/internal/pkg/plugin/argocdapp/argocdapp.go#L49-L53
[code]

* We can find in the Argo documentation:
https://argo-cd.readthedocs.io/en/stable/user-guide/helm/
https://argo-cd.readthedocs.io/en/stable/user-guide/kustomize/

[code]

[code]

Maybe

[2022-06-15 04:50] azhsmesos commented on #654
I want to try，please assigned it to me

[2022-06-15 04:52] daniel-hutao commented on #654
/assign @azhsmesos happy coding！

[2022-06-15 05:21] aFlyBird0 commented on #654
Welcome to DevStream! Please feel free to ask me any questions.

[2022-06-16 12:39] iyear opened #683 ":open_book: `Docs`: Chinese of `understanding the basics`"
### What should be changed?

complete https://docs.devstream.io/en/latest/understanding_the_basics.zh/

pls assign me

[2022-06-16 13:24] iyear opened #685 ":open_book: `Docs`: Chinese of `index`"
### What should be changed?

complete https://docs.devstream.io/en/latest/index.zh/

pls assign me

[2022-06-16 13:29] iyear commented on #685
Is the demo in index uploaded on the chinese website? If not, I will use the Youtube version.

[2022-06-16 13:50] iyear commented on #685
I have found https://www.bilibili.com/video/BV1W3411P7oW

[2022-06-16 14:10] iyear commented on #683
Recently, I was busy with final exams, so I could only spend some time doing some translation work.

[2022-06-17 01:24] #685 closed

[2022-06-17 01:24] #683 closed

[2022-06-17 06:42] prodanlabs commented on #675
I always think that multiple installation methods should be provided, such as in kubernetes (helm, yaml), in containers (docker, podman), in Linux bare metal.

There is a common plugin for each way, like I want to install `GitLab`，The configuration of each installation method can be quickly obtained by the `show` command.
[code]

Each application has a plug-in corresponding to the installation met

[2022-06-20 01:29] mangoGoForward commented on #558
[WeOpen Star]I would like to help

[2022-06-20 02:46] aFlyBird0 opened #694 ":four_leaf_clover: `Proposal`: `dtm develop` supports automatic scaffolding of the `PLUGIN_NAME.zh.md` file"
## What Would You Like to Add? Why Is This Needed?

The docs of DevStream have supported multilingual 🎉 !

And `dtm develop` is used to help developers create a plugin easier. It scaffolds the files which a plugin needed.

Now, it can scaffold the `PLUGIN_NAME.md` file for English plugin docs. To support multilingual, it should also scaffold the `PLUGIN_NAME.zh.md` file.

## Design

We can refer t

[2022-06-20 03:19] daniel-hutao commented on #675
@prodanlabs, thank you for your suggestion; indeed, `gitlab` such plugins should support multiple installation methods, for example, the first version we currently support is the `docker` way of installation, maybe the next version will go to support the `vm` way. #692

---

@huang12zheng Good thinking; first `helm` is positioned to manage the various "software" deployed on k8s, while `kustomize`